@use 'variables' as *;
.address-search{
  .input-label{
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: $Title_Dark;
  }
  .sub-text{
    font-size: 12px;
    color: $normalText;
  }
  .title-h3{
    font-size: 18px;
    font-weight: 700;
    color: $Title_Dark;
    margin-top: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #5E5E5E;
  }
  .address-list{
    &__item{
      display: flex;
      padding: 24px 0;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $cardBorderColor;
      &:nth-last-of-type(1){
        border-bottom: 1px solid #5e5e5e;
      }
      .item{
        display: flex;
        flex-direction: column;
        gap: 16px;
        .mail-number{
          font-size: 16px;
          font-weight: 700;
          color: $Title_Dark;
        }
        &__btn{}
        .address{
          font-size: 14px;
          color: $normalText;
          [class*=badge]{
            display: inline-flex;
            font-size: 12px;
            height: 24px;
            width: 48px;
            align-items: center;
            justify-content: center;
            padding: 0 8px;
            border-radius: 30px;
          }
          .badge{
            &-new{
              background-color: #007AFF;
              color: #FFF;
            }
            &-old{
              background-color: #F5F5F5;
              color: $smallText;
            }
          }
        }
      }
    }
  }

}