@use 'variables' as *;
@use 'mixin' as *;
.agree-template{
  margin-top: 16px;
  h3{
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: $Title_Dark;
    margin: 24px 0 16px;
    &.required{
      @include required;
    }
  }
  &__desc{
    font-size: 14px;
    color: $normalText;
    line-height: 1.5;
    em{
      font-weight: 400;
      color: $Title_Dark;
    }
  }
  &__checklist{
    margin-top: 8px;
    &_header{
      border-bottom: 1px solid #B0B0B0;
      padding-bottom: 16px;
    }
    &_body{
      padding-top: 16px;
      >ul{
        display: grid;
        grid-template-columns: repeat(2, 180px);
        gap: 0 24px;
      }
    }
  }
}