@use 'variables' as *;

.alert-modal {
  display: flex;
  width: 420px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  border-radius: 16px;
  background: #FFF;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  &__title {
    flex: 1 0 0;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }

  &__close {
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    flex-shrink: 0;
  }

  &__message {
    align-self: stretch;
    color: $normalText;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-top: -8px;
  }

  &__footer {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  &__confirm-btn {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: $primaryColor;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background: $primaryColor2;
    }
  }
  &__cancel-btn {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: $primaryColor;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid #3A3A3A;
    cursor: pointer;

    &:hover {
      background: $primaryColor2;
    }
  }
}
