@use 'variables' as *;
.alram-setting, .terms{
  .setting-toggle{
    display: flex;
    justify-content: space-between;
  }
  h4{
    margin-top: 24px;
    line-height: 1;
    color: $Title_Dark;
    margin-bottom: 12px;
  }
  .link-list{
    margin-top: 16px;
    border-bottom: 1px solid #E4E4E4;
  }
  .terms__item{
    display: flex;
    padding: 20px 8px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E4E4E4;
  }
}
.confirm-second{
  &__wrapper{
    text-align: center;
  }
  &__message{
    font-size: 18px;
    font-weight: 700;
    color: $Title_Dark;
    margin-bottom: 16px;
  }
  &__sub-text{
    font-size: 14px;
    color: $normalText;
    margin-bottom: 16px;
    em{
      font-weight: 700;
      color: $primaryColor;
    }
  }
  .confirm-number{
    display: flex;
    gap: 8px;
  }
  .gray-box{
    background-color: #F1EEFB;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 32px;
    ul>li{
      position: relative;
      color: $normalText;
      font-size: 14px;
      padding-left: 10px;
      padding-bottom: 8px;

      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 8px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $normalText;
        vertical-align: middle;
      }
    }
    em{
      font-weight: 700;
    }
  }
  .notice{
    margin-top: 24px;
  }
}