@use 'variables' as *;
[class*=btn-]{
  display: inline-block;
}
.btn{

  display: inline-flex;
  align-items: center;
  height: 28px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  &:disabled{
    cursor: default;
  }
  &.sm{
    height: 20px;
    padding: 0 8px;
  }
  &.border{
    border: 1px solid $Line_Normal;
    border-radius: 8px;
    background-color: #FFFFFF;
    img{
      margin-right: 4px;
    }
    &.h40{
      height: 40px;
      font-size: 14px;
      padding: 12px 16px;
    }
    &:disabled{
      opacity: 0.3;
      color: $Title_Dark;
    }
    &.sm{
      border-radius: 6px;
    }
  }
  &.submit{
    height: 44px;
    padding: 0 16px;
    font-size: 16px;
  }
  &.filled{
    border: 0;
    color: #FFF;
    background-color: $primaryColor;
    border-radius: 8px;
    &__icon{
      .icon{
        margin-right: 4px;
      }
    }
    &:disabled{
      background-color: #F1EEFB;
      color: #C6C1E0;
    }
  }
  &.underline{
    position: relative;
    background-color: transparent;
    font-size: 14px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $Title_Dark;
    color: $Title_Dark;
    height: auto;
    padding: 2px 0;
    &__icon{
      margin-left: 20px;
      .icon{
        position: absolute;
        left: -20px;
      }
    }
  }
  &-primary{
    background-color: $primaryColor;
    color: #FFFFFF;
  }
}