@use 'variables' as *;
[class*=btn-]{
  display: inline-block;
}
.btn.border{
  display: inline-flex;
  align-items: center;
  height: 28px;
  padding: 0 12px;
  border: 1px solid $Line_Normal;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  img{
    margin-right: 4px;
  }
  &.submit{
    height: 44px;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    font-size: 16px;
    border-radius: 8px;
  }
}
.btn.filled{
  &.submit{
    height: 44px;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    color: #FFF;
    background-color: $primaryColor;
    border-radius: 8px;
    font-size: 16px;
  }
}
.btn{
  white-space: nowrap;
  &.underline{
    position: relative;
    background-color: transparent;
    font-size: 14px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $Title_Dark;
    color: $Title_Dark;
    &__icon{
      margin-left: 20px;
      .icon{
        position: absolute;
        left: -20px;
      }
    }
  }
}