@use 'variables' as *;
[class*=btn-]{
  display: inline-block;
}
.btn.border{
  display: inline-flex;
  align-items: center;
  height: 28px;
  padding: 0 12px;
  border: 1px solid $Line_Normal;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  img{
    margin-right: 4px;
  }
}