@use 'variables' as *;

.category-top-10 {
  display: grid;
  flex-wrap: wrap;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

.category-card {
  display: flex;
  width: 356px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  box-shadow: 0 2px 8px 0 rgba(90, 75, 121, 0.12);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .badge {
      display: flex;
      height: 22px;
      padding: 4px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 4px;
      background: $NormalDarkGray;
      color: #484848;
      text-align: center;
      font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.5;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }

  &__title {
    color: $Title_Dark;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }

  &__thumbnails {
    display: grid;
    align-items: center;
    gap: 10px;
    width: 100%;
    &.wide{
      display: flex;
      .category-card__thumbnail{
        width: 100%;
        height: 173px;
      }
    }
    &.col-2{
      grid-template-columns: repeat(2, 1fr);
    }
    &.col-3{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__thumbnail {
    height: 96px;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
    background: #EBEBEB;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }

  &__score {
    color: #8A8A8A;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;

    .score-value {
      color: $Title_Dark;
    }
  }

  &__description {
    color: $normalText;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
}
