@use 'variables' as *; 
.combo {
  position: relative;
  width: 200px;
}

/* label이 클릭 트리거 역할 */
.combo-label {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 40px;
  font-size: 14px;
  border-radius: 8px;
  background-color: $bgLightGray;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  color: $Title_Dark;
  padding-right: 32px;
  line-height: 1.4;
}

.combo-label::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  display: inline-block;
  height: 6px;
  width: 12px;
  background-image: url('../../images/icon_arrow_select.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

/* 숨긴 checkbox */
.combo-toggle {
  display: none;
}

/* 옵션 목록 */
.combo-options {
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.1);
  border-radius: 6px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.2s ease;
  z-index: 10;
}
// 멀티옵션 목록
.multie-options{
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.1);
  border-radius: 6px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.2s ease;
  z-index: 10;
  padding: 8px 0;
  li{
    display: flex;
    align-items: center;
    padding: 0 14px;
    height: 40px;
    .ckb{
      width: 100%;
    }
  }
}

.combo.multie-select {
  .combo-label {
    white-space: normal;
    min-height: 40px;
  }
}

/* 토글되었을 때 표시 */
.combo-toggle:checked + .combo-label{
  border: 1px solid $primaryColor;
}
.combo-toggle:checked + .combo-label + .combo-options,
.combo-toggle:checked + .combo-label + .multie-options {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
}

/* 항목 스타일 */
.combo-options li a {
  display: flex;
  align-items: center;
  padding: 0 14px;
  height: 40px;
  color: $Title_Dark;
  transition: background-color 0.2s;
  font-size: 14px;
  &.selected{
    background-color: $bgPrimaryLight;
    color: $primaryColor;
    background-image: url('../../images/icon_check_selected.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
  }
}

.combo-options li a:hover {
  background-color: #f0f0f0;
}
