@use 'variables' as *;
.cs{
  &__tabs{
    display: inline-flex;
    justify-content: center;
    border-bottom: 1px solid #B0B0B0;
    &_item{
      a{
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 18px;
        padding: 0 16px;
        height: 40px;
        &.active{
          color: $primaryColor2;
          font-weight: 700;
          &:after{
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: $primaryColor2;
          }
        }
      }
    }
  }
}
.cs-notice{
  &__list{
    .topper{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 24px;
      margin-bottom: 16px;
      .total{
        font-size: 12px;
        color: #747474;
        em{
          font-weight: 700;
          color: #000;
        }
      }
    }
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    border-top: 1px solid $cardBorderColor;
    gap: 16px;
    .title{
      font-size: 18px;
      font-weight: 700;
      color: $Title_Dark;
      word-break: keep-all;
      &.new{
        &:after{
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          background-image: url('../../images/icon_new.svg');
          background-repeat: no-repeat;
        }
      }
    }
    .date{
      font-size: 12px;
      color: $smallText;
      white-space: nowrap;
    }
  }
  .no-data{
    padding: 100px 0;
    text-align: center;
    .message{
      margin-top: 40px;
      font-size: 24px;
      color: $primaryColor;
    }
  }

  &__detail{
    &-nav{
      display: flex;
      align-items: center;
      gap: 4px;
      padding-bottom: 16px;
      border-bottom: 1px solid $cardBorderColor;
    }
    &-back{
      width: 24px;
      height: 24px;
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-nav-title{
      font-size: 18px;
      font-weight: 700;
      color: $Title_Dark;
      
    }
    &-header{
      padding: 24px 16px;
      border-bottom: 1px solid #EDEDED;
    }
    &-title{
      font-size: 20px;
      font-weight: 700;
      color: $Title_Dark;
      margin-bottom: 14px;
      display: flex;
      align-items: center;
      gap: 8px;
      .badge-new-icon{
        width: 14px;
        height: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
      &.new{
        &:after{
          content: '';
          display: inline-block;
          width: 14px;
          height: 14px;
          background-image: url('../../images/icon_new_primary.svg');
          background-repeat: no-repeat;
        }
      }
    }
    &-author{
      display: flex;
      align-items: center;
      gap: 8px;
      &-img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        background-color: $bgLightGray;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-info{
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
      &-name{
        font-size: 14px;
        font-weight: 400;
        color: $Title_Dark;
        line-height: 1;
      }
      &-date{
        font-size: 12px;
        font-weight: 400;
        color: $smallText;
        line-height: 1;
      }
    }
    &-content{
      padding: 24px 16px;
      border-bottom: 1px solid #EDEDED;
      p{
        font-size: 14px;
        font-weight: 400;
        color: $Line_Normal;
        line-height: 150%;
        &:not(:first-child){
          margin-top: 16px;
        }
      }
    }
    &-nav-list{
      border-top: 1px solid #BDBDBD;
      border-bottom: 1px solid #BDBDBD;
    }
    &-nav-item{
      display: flex;
      align-items: center;
      padding: 20px 16px;
      background: #FFF;
      &:not(:last-child){
        border-bottom: 1px solid #EAEAEA;
      }
    }
    &-nav-label{
      font-size: 14px;
      font-weight: 400;
      color: $Line_Normal;
      width: 25px;
      flex-shrink: 0;
      line-height: 150%;
    }
    &-nav-link{
      flex: 1;
      font-size: 14px;
      font-weight: 600;
      color: $Line_Normal;
      margin-left: 81px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-nav-date{
      font-size: 14px;
      font-weight: 400;
      color: $Line_Normal;
      text-align: right;
      width: 70px;
      flex-shrink: 0;
      line-height: 150%;
      margin-left: 16px;
    }
  }
}
