@use 'variables' as *;
.cs-faq{
  &__category{
    display: flex;
    justify-content: space-around;
    border: 1px solid $cardBorderColor;
    height: 48px;
    border-radius: 10px;
    margin-top: 24px;
    a{
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 16px;
      color: $Title_Dark;
      &:hover, &.active{
        color: $primaryColor;
        font-weight: 700;
      }
    }
    &_tabs{
      display: flex;
      flex: 1 1 auto;
      justify-content: space-around;
    }
    .btn-etc{
      border: 0;
      background-color: transparent;
      width: 48px;
    }
  }
  &__list{
    .topper{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 24px;
      margin-bottom: 16px;
      .total{
        font-size: 12px;
        color: #747474;
        em{
          font-weight: 700;
          color: #000;
        }
      }
    }
  }
  &__accordion{
    .item{
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px 16px;
      border-bottom: 1px solid $cardBorderColor;
      &__toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-break: keep-all;
        border: 0;
        background-color: transparent;
        padding: 0;
        width: 100%;
        cursor: pointer;
        .title{
          display: flex;
          flex: 0 0 calc(100% - 50px);
          font-size: 18px;
          font-weight: 700;
          color: $Title_Dark;
          text-align: left;
        }
        .icon{
          display: inline-flex;
          transition: transform 0.2s ease;
          transform: rotate(180deg);
        }
      }
      &__content{
        font-size: 14px;
        line-height: 1.5;
        color: $normalText;
        word-break: keep-all;
        display: none;
      }
      &.open{
        .item__toggle{
          .icon{
            transform: rotate(0deg);
          }
        }
        .item__content{
          display: block;
        }
      }
    }
  }
}