@use 'variables'as *;

.daterangepicker {
  border: 1px solid #E9E9E9;
  border-radius: 16px;
  color: #5E5E5E;
  overflow: hidden;

  .drp-selected {
    color: #0A0A0A;
    font-size: 14px;
    padding-right: 8px;
    padding-top: 12px;
    padding-left: 10px;
  }

  .drp-calendar {
    padding: 16px;
    &.left{
      .calendar-time{
        padding-right: 10px;
      }
    }
    &.right{
      .calendar-time{
        padding-left: 10px;
      }
    }
    &.single{
      .start-date, .end-date, td.available:hover{
        border-radius: 999px;
      }
    }
  }

  .calendar-table {
    // border: 1px solid #E9E9E9;
    border-radius: 12px;
    padding: 8px;

    table.table-condensed {
      // table-layout: fixed;
    }

    th,
    td {
      // border-radius: 8px;
      font-size: 14px;
      height: 32px;
    }

    td {
      width: 32px;
    }

    th {
      font-weight: 400;
    }

    td.available:hover {
      background-color: #F1EEFB;
      color: #5E5E5E;
    }

    td.in-range {
      background-color: #F1EEFB;
      color: #5E5E5E;
    }
    td.ends{
      color: #BDBDBD;
    }

    td.active,
    td.active:hover,
    td.start-date,
    td.end-date {
      background-color: #7A53EC;
      color: #ffffff;
    }

    td.start-date,
    td:nth-of-type(1) {
      border-radius: 20px 0 0 20px;
    }

    td.end-date,
    td:nth-last-of-type(1) {
      border-radius: 0 20px 20px 0;
    }

    th.month {
      font-size: 14px;
      font-weight: 600;
      color: $Title_Dark;
    }

    td:not(.ends).disabled,
    option.disabled {
      cursor: default;
      background-color: #E0E0E0;
      border-radius: 0;
    }

    /* start */
    td.disabled:first-child,
    td:not(.disabled)+td.disabled {
      border-top-left-radius: 999px;
      border-bottom-left-radius: 999px;
    }

    /* end */
    .disabled:last-child,
    td.disabled:last-child,
    td.disabled:has(+ td:not(.disabled)) {
      border-top-right-radius: 999px;
      border-bottom-right-radius: 999px;
    }

    .prev, .next{
      span{
        border-width: 0 1px 1px 0;
      }
    }
  }

  .daterangepicker_input .input-mini {
    border-radius: 10px;
    border: 1px solid #E9E9E9;
    color: #5E5E5E;

    &:focus {
      border-color: #7A53EC;
      box-shadow: 0 0 0 3px #F1EEFB;
    }
  }

  .calendar-time {
    display: flex;
    margin-top: 12px;
    gap: 12px;

    .styled-select {
      min-width: 0;
      flex: 1 1 auto;
      background-color: #F9F9F9;
      font-size: 14px;
    }

    .hourselect,
    .minuteselect,
    .secondselect,
    .ampmselect {
      width: auto;
      height: 40px;
      background-color: $bgLightGray;
      flex: 1 1 auto;
      border: 0;
      padding: 0 16px;
      color: $normalText;
      font-size: 14px;
      border-radius: 8px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url('../../images/icon_select_arrow.svg');
      background-repeat: no-repeat;
      background-position: right 10px center;
    }
  }

  .drp-buttons {
    border-top: 1px solid #E9E9E9;

    .btn {
      border-radius: 10px;
      font-weight: 600;
      padding: 12px 16px;
      height: 40px;
      border: 0;
    }

    .cancelBtn {
      background-color: #FFFFFF;
      color: #000;
      border: 1px solid #3A3A3A;
    }

    .applyBtn {
      background-color: #4D24C3;
      color: #ffffff;
    }
  }
  &.show-calendar{
    .drp-buttons{
      display: flex;
      justify-content: space-between;
      .drp-selected{
        flex: 1 1 auto;
        text-align: left;
      }

    }
  }

  .ranges {
    li {
      border-radius: 10px;
      color: #5E5E5E;

      &:hover {
        background-color: #F1EEFB;
      }

      &.active {
        background-color: #7A53EC;
        color: #ffffff;
      }
    }
  }
}