@use 'variables'as *;

.daterangepicker {
  border: 1px solid #E9E9E9;
  border-radius: 16px;
  color: #5E5E5E;
  overflow: hidden;

  .drp-selected {
    color: #5E5E5E;
  }

  .drp-calendar {
    padding: 16px;
  }

  .calendar-table {
    // border: 1px solid #E9E9E9;
    border-radius: 12px;
    padding: 8px;
    table.table-condensed{
      table-layout: fixed;
    }

    th,
    td {
      // border-radius: 8px;
      font-size: 14px;
      height: 32px;
    }
    td{
      width: 32px;
    }

    th {
      font-weight: 400;
    }

    td.available:hover {
      background-color: #F1EEFB;
      color: #5E5E5E;
    }

    td.in-range {
      background-color: #F1EEFB;
      color: #5E5E5E;
    }

    td.active,
    td.active:hover,
    td.start-date,
    td.end-date {
      background-color: #7A53EC;
      color: #ffffff;
    }

    td.start-date {
      border-radius: 20px 0 0 20px;
    }

    td.end-date {
      border-radius: 0 20px 20px 0;
    }

    th.month {
      font-size: 14px;
      font-weight: 600;
      color: $Title_Dark;
    }
  }

  .daterangepicker_input .input-mini {
    border-radius: 10px;
    border: 1px solid #E9E9E9;
    color: #5E5E5E;

    &:focus {
      border-color: #7A53EC;
      box-shadow: 0 0 0 3px #F1EEFB;
    }
  }

  .calendar-time {
    display: flex;
    margin-top: 12px;
    gap: 12px;

    .styled-select {
      min-width: 0;
      flex: 1 1 auto;
      background-color: #F9F9F9;
      font-size: 14px;
    }
    
    .hourselect,
    .minuteselect,
    .secondselect,
    .ampmselect {
      width: auto;
      height: 40px;
      background-color: $bgLightGray;
      flex: 1 1 auto;
      border: 0;
      padding: 0 16px;
      color: $normalText;
      font-size: 14px;
      border-radius: 8px;
    }
  }

  .drp-buttons {
    border-top: 1px solid #E9E9E9;

    .btn {
      border-radius: 10px;
      font-weight: 600;
      padding: 12px 16px;
      height: 40px;
      border: 0;
    }

    .cancelBtn {
      background-color: #FFFFFF;
      color: #000;
      border: 1px solid #3A3A3A;
    }

    .applyBtn {
      background-color: #4D24C3;
      color: #ffffff;
    }
  }

  .ranges {
    li {
      border-radius: 10px;
      color: #5E5E5E;

      &:hover {
        background-color: #F1EEFB;
      }

      &.active {
        background-color: #7A53EC;
        color: #ffffff;
      }
    }
  }
}