@use 'variables' as *;
.divider {
  width: 1px;
  height: 16px;
  border: none;
  background: var(--color-gray-light);
  flex-shrink: 0;
  
}
.divider_hr {
  display: block;
  margin: 40px 0 !important;
  border: none;
  height: 1px;
  border-top: 1px solid var(--color-gray-light); /* 원하는 색상과 스타일 지정 */
  &_24{
    border-top: 1px solid var(--color-gray-light); /* 원하는 색상과 스타일 지정 */
    margin: 24px 0 !important;
  }
}