@use 'variables' as *;
:root{
  --content-bg: #F7F8F9;
}
.eva-preview-for-member{
  .layout{
    display: flex;
    height: 55vh;
    gap: 20px;
    justify-content: space-between;
    &__left{
      background-color: var(--content-bg);
      padding: 10px;
      flex: 1 1 50%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 8px; /* 원하는 너비로 변경 */
      }
  
      /* 스크롤바 트랙의 배경색 설정 */
      &::-webkit-scrollbar-track {
        background: #E9E9E9; /* 원하는 색상으로 변경 */
        border-radius: 20px;
      }
  
      /* 스크롤바 핸들의 배경색 설정 */
      &::-webkit-scrollbar-thumb {
        background: #888; /* 원하는 색상으로 변경 */
        border-radius: 20px;
      }
  
      /* 스크롤바 핸들에 마우스를 올렸을 때의 색상 설정 */
      &::-webkit-scrollbar-thumb:hover {
        background: #919191; /* 원하는 색상으로 변경 */
      }
    }
    &__right{
      flex: 1 1 50%;
      overflow-y: auto;
      padding-right: 10px;
      &::-webkit-scrollbar {
        width: 8px; /* 원하는 너비로 변경 */
      }
  
      /* 스크롤바 트랙의 배경색 설정 */
      &::-webkit-scrollbar-track {
        background: #E9E9E9; /* 원하는 색상으로 변경 */
        border-radius: 20px;
      }
  
      /* 스크롤바 핸들의 배경색 설정 */
      &::-webkit-scrollbar-thumb {
        background: #888; /* 원하는 색상으로 변경 */
        border-radius: 20px;
      }
  
      /* 스크롤바 핸들에 마우스를 올렸을 때의 색상 설정 */
      &::-webkit-scrollbar-thumb:hover {
        background: #919191; /* 원하는 색상으로 변경 */
      }
    }
    &__divider{
      height: 100%;
      width: 1px;
      border-right: 1px solid #5E5E5E;
    }
  }
  .question-card{
    border-radius: 0;
    padding: 24px 0;
    border: 0;
    border-bottom: 1px solid $cardBorderColor;
    &:nth-last-of-type(1){
      border-bottom: 0;
    }
  }
  .eva-target__tabs{
    margin-top: 14px;
  }
}