@use 'variables' as *;
.eva-target{
  h3{
    font-size: 16px;
    font-weight: 700;
    color: $Title_Dark;
    margin-top: 16px;
    line-height: 1.3;
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .badge{
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      line-height: 1;
      height: 22px;
      color: #484848;
      background-color: #E9E9E9;
      border-radius: 4px;
      padding: 4px;
    }
  }
  &__detail{
    margin-bottom: 8px;
  }
  &__file{
    margin-top: 10px;
    &_topper{
      font-size: 12px;
      color: #3A3A3A;
      line-height: 1;
    }
  }
  &__file_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
    padding-bottom: 8px;
    .item{
      display: flex;
      gap: 8px;
      align-items: center;
      cursor: pointer;
      .img-wrap{
        width: 40px;
        height: 40px;
        border-radius: 6px;
        overflow: hidden;
        background-color: #E9E9E9;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &.png,&.txt,&.pdf{
          background-repeat: no-repeat;
          background-position: center;
        }
        &.png{
          background-image: url('../../images/icon_png.svg');
        }
        &.txt{
          background-image: url('../../images/icon_txt.svg');
        }
        &.pdf{
          background-image: url('../../images/icon_pdf.svg');
        }
      }
      &__content{
        font-size: 10px;
        .filename{
          color: #333333;
        }
        .info{
          color: #999999;
        }
      }
    }
  }
  &__result{
    &_item{
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &_label{
      font-size: 14px;
      font-weight: 600;
      color: #999999;
      white-space: nowrap;
    }
    &_value{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #8A8A8A;
      width: 100%;
      gap: 12px;
      .progress-bar-wrapper{
        flex: 1 1 auto;
      }
      em{
        color: #000000;
        font-weight: 600;
      }
    }
  }
  &__footer{
    flex-wrap: wrap;
    gap: 40px 16px;
    .nav{
      justify-content: space-between;
      flex-basis: auto;
      width: 100%;
      .prev, .next{
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        color: $normalText;
        .nav-label{
          font-weight: 700;
          text-decoration: underline;
          color: $Title_Dark;
        }
        .icon{
          position: absolute;
          top: calc(50% - 12px);
        }
      }
      .prev{
        padding-left: 24px;
        .icon{
          left: 0;
        }
      }
      .next{
        padding-right: 24px;
        .icon{
          right: 0;
        }
      }
    }
  }
  &__tabs{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 24px;
    border-bottom: 1px solid #B0B0B0;
    &_item{
      a{
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 18px;
        padding: 0 16px;
        height: 40px;
        &.active{
          color: $primaryColor2;
          font-weight: 700;
          &:after{
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: $primaryColor2;
          }
        }
      }
    }
  }
  &__total{
    display: flex;
    align-items: center;
    background-color: #F7F8F9;
    height: 118px;
    border-radius: 16px;
    justify-content: center;
    white-space: nowrap;
    gap: 20px;
    padding: 0 32px;
    margin: 24px 0;
    .label{
      font-size: 14px;
      color: $smallText;
    }
    .score{
      font-size: 24px;
      font-weight: 700;
      em{
        color: $primaryColor;
      }
    }
  }
  &__score-list{
    .item{
      padding: 24px 0;
      border-bottom: 1px solid $cardBorderColor;
      &__title{
        color: #484848;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 4px;
      }
      &__desc{
        font-size: 12px;
        line-height: 1.5;
        color: #8A8A8A;
      }
      &__score_info{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        margin-bottom: 10px;
        .badge{
          display: inline-flex;
          align-items: center;
          font-size: 12px;
          font-weight: 700;
          line-height: 1;
          height: 22px;
          color: #484848;
          background-color: #E9E9E9;
          border-radius: 4px;
          padding: 4px;
        }
        .calc-score{
          font-size: 14px;
          font-weight: 600;
          color: #111111;
          &__label{
            color: #999999;
            font-size: 12px;
            font-weight: 700;
          }
        }
      }
      &__score_wrap{
        display: flex;
        align-items: center;
        gap: 16px;
        .progress-bar{
          .bar{
            background-color: #747474;
          }

          + .score{
            font-size: 12px;
            font-weight: 700;
            color: #C3C3C3;
            white-space: nowrap;
            em{
              color: #000;
            }

          }
        }
      }
    }
  }
}
.eva-committee{
  display: flex;
  gap: 16px;
  .eva-committee__member{
    border: 0;
    padding: 0;
    background-color: transparent;
    &.active{
      .eva-committee__img-wrap{
        border: 2px solid $primaryColor;
        opacity: 1;
      }
      .eva-committee__name{
        color: $primaryColor;
        font-weight: 700;
      }
    }

  }
  &__img-wrap{
    width: 40px;
    height: 40px;
    background-color: #EBEBEB;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('../../images/icon_member.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name{
    display: block;
    text-align: center;
    font-size: 12px;
    color: #8A8A8A;
    margin-top: 8px;
  }
}
.reply{
  &__item{
    display: flex;
    gap: 16px;
    .left{
      flex: 0 0 26px;
    }
    .right__footer{
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      margin-bottom: 16px;
      .start{}
      .end{
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
      }
      .re-reply, .delete-reply{
        text-decoration: underline;
        color: $normalText;
        font-size: 14px;
      }
      .re-reply{
        img{
          margin-right: 4px;
        }
      }
    }
  }
  &__profile{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/icon_member.svg');
    background-size: 40%;
    background-color: #EBEBEB;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__nickname{
    font-size: 14px;
    color: $Title_Dark;
    font-weight: 600;
  }
  &__time-ago{
    font-size: 12px;
    color: $smallText;
    margin-left: 12px;
  }
  &__content{
    font-size: 14px;
    color: $Title_Dark;
    line-height: 1.5;
  }

  
}