@use 'variables' as *;
.eva-list-current{
  .eva-list{
    &__card{
      padding: 24px;
      margin-top: 40px;
      .content-wrap{
        &__topper{
          display: flex;
          justify-content: space-between;
          .start{
            display: flex;
            gap: 12px;
            flex: 1 1 auto;
          }
          .end{
          }
        }
        .list-wrap{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 24px;
          margin-top: 24px;
          .item{
            border: 1px solid $cardBorderColor;
            border-radius: 16px;
            overflow: hidden;
            &__img{
              position: relative;
              height: 260px;
              > img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .badge-list{
                position: absolute;
                left: 24px;
                top: 24px;
                display: flex;
                gap: 8px;
                .badge{
                  display: inline-flex;
                  height: 22px;
                  gap: 4px;
                  align-items: center;
                  padding: 4px;
                  font-size: 12px;
                  font-weight: 700;
                  color: #484848;
                  background-color: var(--normal-gray);
                  border-radius: 4px;
                  &.eva-before{
                    color: $primaryColor4;
                  }
                  &.eva-now{
                    color: $primaryColor;
                  }
                }
              }
            }
            &__body{
              padding: 24px;
              min-height: 300px;
            }
            &__title{
              font-size: 24px;
              color: $Title_Dark;
              font-weight: 700;
              line-height: 1.3;
              word-break: keep-all;
            }
            &__desc{
              font-size: 14px;
              color: #484848;
              line-height: 1.5;
              margin: 12px 0;
            }
            &__date{
              font-size: 12px;
              color: $smallText;
              color: #484848;
              margin-bottom: 12px;
            }
            &__summary{
              display: flex;
              gap: 8px;
              justify-content: space-between;
              .box{
                flex: 1 1 auto;
                background-color: #F1EEFB;
                border-radius: 4px;
                padding: 12px;
                text-align: center;
              }
              &_label{
                color: #8A8A8A;
                font-size: 14px;
                em{
                  font-weight: 600;
                  color: #000;
                }
              }
              &_value{
                display: flex;
                justify-content: center;
                gap: 6px;
                font-size: 14px;
                font-weight: 600;
                color: #000;
                margin-top: 6px;
                .progress-bar{
                  margin-top: 2px;
                }
              }
            }
            &__footer{
              padding: 0 24px 24px;
              .tag-list{
                display: flex;
                gap: 4px;
                flex-wrap: wrap;
                .item{
                  display: inline-flex;
                  align-items: center;
                  padding: 8px;
                  background-color: var(--tag-bg);
                  border-radius: 20px;
                  font-size: 12px;
                  color: $smallText;
                  border: 0;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
}
