@use 'variables' as *;
.eva-result{
  h3{
    font-size: 18px;
    font-weight: 700;
    color: $Title_Dark;
  }
  .label{
    font-size: 16px;
    font-weight: 700;
    color: $Title_Dark;
    margin-bottom: 8px;
    &:before{
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: $Title_Dark;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 4px;
    }
  }
  .content{
    padding-left: 8px;
    color: $normalText;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  .summary{
  }
  .eva-schedule{
    ul{
      display: flex;
      gap: 4px;
      li{
        &:after{
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          height: 16px;
          background-image: url('../../images/icon_chevron_right-16.svg');
          background-repeat: no-repeat;
          margin-left: 4px;
        }
        &:nth-last-of-type(1){
          &:after{
            content: none;
          }
        }
      }
    }
  }

}