@use 'variables' as *;

.eva-info-card {
  display: flex;
  padding: 20px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  background: $bgLightGray;

  &__layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  &__image {
    position: relative;
    display: flex;
    border-radius: 12px;
    background: #FFF;
    width: 104px;
    height: 104px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
  }

  &__title {
    align-self: stretch;
    color: $Title_Dark;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }

  &__description {
    align-self: stretch;
    color: $normalText;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  &__period {
    align-self: stretch;
    color: $normalText;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  &__period-label {
    display: block;
    font-weight: 600;
    color: $Title_Dark;
  }

  &__period-date {
    display: block;
    font-weight: 400;
    color: $normalText;
  }
}
