@use 'variables' as *;
.eva-target-detail{
  h3{
    font-size: 18px;
    font-weight: 700;
    color: $Title_Dark;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .badge{
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      line-height: 1;
      height: 22px;
      color: #484848;
      background-color: #E9E9E9;
      border-radius: 4px;
      padding: 4px;
    }
  }
  .detail-content{
    &__item{
      margin-bottom: 24px;
      .label{
        font-size: 14px;
        font-weight: 600;
        color: $Title_Dark;
      }
      .value{
        font-size: 14px;
        color: $normalText;
        a.link{
          color: $normalText;
          text-decoration: underline;
        }
      }
    }
    
  }
  &__file{
    margin-top: 10px;
    &_topper{
      font-size: 14px;
      color: #3A3A3A;
      line-height: 1;
    }
  }
  &__file_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
    padding-bottom: 8px;
    .item{
      display: flex;
      gap: 8px;
      align-items: center;
      cursor: pointer;
      .img-wrap{
        width: 40px;
        height: 40px;
        border-radius: 6px;
        overflow: hidden;
        background-color: #E9E9E9;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &.png,&.txt,&.pdf{
          background-repeat: no-repeat;
          background-position: center;
        }
        &.png{
          background-image: url('../../images/icon_png.svg');
        }
        &.txt{
          background-image: url('../../images/icon_txt.svg');
        }
        &.pdf{
          background-image: url('../../images/icon_pdf.svg');
        }
      }
      &__content{
        font-size: 10px;
        .filename{
          color: #333333;
        }
        .info{
          color: #999999;
        }
      }
    }
  }

  &__footer{
    flex-wrap: wrap;
    gap: 40px 16px;
    .nav{
      justify-content: space-between;
      flex-basis: auto;
      width: 100%;
      .prev, .next{
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        color: $normalText;
        .nav-label{
          font-weight: 700;
          text-decoration: underline;
          color: $Title_Dark;
        }
        .icon{
          position: absolute;
          top: calc(50% - 12px);
        }
      }
      .prev{
        padding-left: 24px;
        .icon{
          left: 0;
        }
      }
      .next{
        padding-right: 24px;
        .icon{
          right: 0;
        }
      }
    }
  }
}