@use 'variables'as *;

:root {
  --color-gray-light: #D9D9D9;
  --bg-step-tab-active: #DDD3FF;
  --bg-step-tab-text-active: #4322A3;
  --ck-size-sm: 16px;
}

.eva-detail {
  padding: $cardPadding;

  .badge {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    height: 22px;
    padding: 4px;
    background-color: #F5F5F5;

    &.eva-open {
      color: #484848;
    }

    &.eva-before {
      color: #A68FEB;
    }
  }

  .content-header {
    display: flex;
    justify-content: space-between;

    .flex-start {
      .badge {
        margin-right: 4px;
      }
    }

    .flex-end {
      .btn {
        margin-left: 4px;
      }
    }
  }

  .content-title {
    h3 {
      margin-top: 16px;
      font-size: 32px;
      font-weight: 700;
    }
  }

  .content-body {
    .summary {
      display: flex;
      gap: 24px;

      .thumbnail {
        width: 200px;
        height: 200px;
        border-radius: 12px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .gray-box {
        flex: 1 1 auto;
        padding: 20px 16px;
        border-radius: 12px;
        background-color: $bgPrimaryLight;

        ul {
          li {
            display: flex;
            gap: 16px;
            margin-bottom: 18px;

            &:last-child {
              margin-bottom: 0;
            }

            .label {
              color: #747474;
              font-size: 14px;
            }

            .data {
              font-size: 14px;
              font-weight: 700;

              .period {
                color: $normalText;
                margin-bottom: 4px;
              }
            }

            .btn-wrap {}
          }
        }
      }

      .status {
        width: 300px;
        color: $normalText;

        .progress-bar-wrap {
          display: flex;
          align-items: center;
          margin-top: 8px;
          gap: 8px;
        }
      }
    }

    .content-detail-article {
      font-size: 14px;
      line-height: 1.5;
      color: $normalText;
      margin: 20px 0;
    }
  }

  .notice-box {
    display: flex;
    background-color: $bgLightGray;
    padding: 16px;
    border-radius: 12px;
    gap: 8px;
    justify-content: space-between;

    .icon {
      flex: 0 0 24px;
    }

    .notice-content {
      flex: 1 1 auto;

      .title {
        color: #0A0A0A;
        font-size: 16px;
        font-weight: 700;
        margin-top: 4px;
        margin-bottom: 8px;
      }

      .body {
        font-size: 12px;
        line-height: 1.5;
        color: $normalText;

        em {
          font-weight: 700;
          font-style: normal;
        }

        .link-to-contact {
          font-weight: 700;
          color: $normalText;
          text-decoration: underline;
        }
      }
    }

    .btn-wrap {
      display: flex;
      align-items: center;
    }
  }
}

.eva-field {
  padding: $cardPadding;
  margin-top: 24px;

  .field-tab {
    padding: 20px 24px;
    background-color: $primaryColor;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 12px;

      li {
        border-radius: 12px;

        a {
          display: inline-flex;
          color: #FFFFFF;
          font-size: 18px;
          padding: 0 20px;
          align-items: center;
          height: 48px;
          white-space: nowrap;

          &:hover {
            font-weight: 700;
          }
        }

        &.active {
          background-color: #FFFFFF;

          a {
            color: $primaryColor;
            font-weight: 700;
          }
        }
      }
    }
  }

  .step-tab {
    margin-top: 32px;

    ol {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 10px 0;

      li {
        a {
          display: inline-flex;
          padding: 0 16px;
          align-items: center;
          border: 1px solid $normalText;
          height: 48px;
          border-radius: 30px;
          white-space: nowrap;

          &.active {
            background-color: var(--bg-step-tab-active);
            border-color: $primaryColor;
            color: var(--bg-step-tab-text-active);
          }
        }

        &:not(:last-child):after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 100%;
          background-image: url('../../images/icon_chevron_right-16.png');
          background-size: 4px 8px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  .select-regist-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 12px;
    margin-top: 40px;

    .type-card {
      padding: 16px 24px;
      background-color: $bgLightGray;
      border-radius: 12px;

      .img-wrap {
        height: 60px;
        margin-bottom: 16px;
      }

      .link-to-regist {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid #000000;
        margin-left: 28px;

        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          left: -28px;
          top: -2px;
          width: 24px;
          height: 24px;
          background-image: url('../../images/icon_edit-16.svg');
          background-repeat: no-repeat;
          background-size: auto;
        }
      }

      .desc-wrap {
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.5;
        color: $normalText;

        .title {
          margin-bottom: 4px;
          color: #000000;
        }
      }
    }
  }

  .eva-list {
    .list-topper {
      .total {
        color: $normalText;
        font-size: 14px;
        font-weight: 700;
      }

      .selected-status-bar {
        display: flex;
        gap: 8px;
        margin-top: 16px;

        .ckb__box {
          width: var(--ck-size-sm);
          min-width: var(--ck-size-sm);
          height: var(--ck-size-sm);
          &::after {
            width: calc(var(--ck-size-sm) * 0.5);
            height: calc(var(--ck-size-sm) * 0.5);
          }
        }
        .label {
          font-size: 14px;
          color: $normalText;
        }

      }

      .toolbar {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        .flex-start {
          display: flex;
          align-items: center;
          gap: 8px;

          .btn-delete {
            img {
              width: 10px;
              height: 10px;
            }
          }
        }

        .divider {
          width: 1px;
          height: 16px;
          background: var(--color-gray-light);
          flex-shrink: 0;
        }

        .label {
          font-size: 14px;
          color: $normalText;
        }

        .flex-end {
          display: flex;
          gap: 16px;
        }
      }
    }

    .list-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      margin-top: 24px;

      .item {
        padding: 24px;
        border-radius: 16px;
        border: 1px solid #BDBDBD;
        background: #FFF;
        box-shadow: 0 2px 8px 0 rgba(90, 75, 121, 0.12);
        &.disabled{
          border: 1px solid rgba(189,189,189,.5);
          &:after{
            content: '평가 제외';
            display: inline-flex;
            position: absolute;
            right: 20px;
            top: 20px;
            height: 22px;
            padding: 0 4px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            background-color: #B0B0B0;
            color: $normalText;
            opacity: 0.5;
            font-size: 12px;
            font-weight: 700;
          }
          .evaluation-card__content{
            opacity: 0.5;
          }
        }
      }
    }
  }
  
}

.eva-template {
  h5.title {
    font-size: 14px;
    font-weight: 600;
    color: $Title_Dark;
    margin-bottom: 16px;

    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}

.eva-section-container {
  margin-top: 24px;
  padding: 24px;

  .content-header {
    margin-bottom: 24px;
    font-size: 14px;
    color: $normalText;

    &__upper {
      margin-bottom: 16px;

      em {
        color: $primaryColor;
        font-weight: 700;
      }
    }

    &__lower {
      display: flex;
      justify-content: space-between;

      .start,
      .end {
        display: flex;
        gap: 12px;
      }

      .end {
        justify-content: flex-end;
      }

      .toggle-switch__label {
        color: $normalText;
      }
    }
  }


}

.submit-btn-wrap {
  display: flex;
  padding: 24px 0 60px;

  &__start {
    flex-basis: 50%;
  }

  &__end {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  &__center {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  img {
    width: 16px;
    margin-right: 4px;
  }
}

.pagination-container {
  position: relative;

  .select-view-length {
    position: absolute;
    left: 0;
  }
}

.has-aside {
  display: flex;
  justify-content: center;
  gap: 24px;

  .content-wrapper {
    flex: 1 1 auto;
    margin: unset;
  }

  aside {
    position: sticky;
    top: 100px;
    /* 헤더 높이에 맞게 조정 */
    align-self: flex-start;
    margin-top: 93px;
    height: fit-content;
  }
}