@use 'variables' as *;
.expose-set{
  display: flex;
  align-items: center;
  margin: 24px 0;
  gap: 12px;
}
.regist-info{
  &__title{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  &__notice{
    font-size: 14px;
    color: $normalText;
    margin-top: 16px;
    i{
      vertical-align: middle;
    }
  }
  &__owner{
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 24px;
    border: 1px solid $cardBorderColor;
    border-radius: 16px;
    h5{
      font-size: 14px;
      margin-bottom: 6px;
    }
    .item{
      display: flex;
      gap: 8px;
      align-items: center;
      .thumbnail{
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 8px;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .name{
        font-size: 14px;
      }
    }
  }
  &__contact{
    border: 1px solid #E4E4E4;
    border-radius: 16px;
    padding: 24px;
    .regist-info__notice{
      margin-bottom: 16px;
    }
  }
}

.form{
  &__item{
    &_wide{
      grid-column: 1 / 3;
    }
    &_inline{
      display: flex;
      align-items: center;
      .form__label{
        margin-bottom: 0;
      }
    }
  }
  &__label{
    font-size: 14px;
    margin-bottom: 8px;
    &.required{
      &:after{
        content: '*';
        vertical-align: text-top;
        color: #FF44BF;
        font-size: 1em;
      }
    }
  }
}
.regist-detail-desc{
  border: 1px solid $cardBorderColor;
  border-radius: 16px;
  padding: 24px;
  margin-top: 16px;
  h4{
    margin-bottom: 16px;
  }
  &__grid{
    display: grid;
    grid-template-columns: 136px 3fr;
    gap: 16px;
  }
  
  &__footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
  }
}
.regist-info-detail{
  margin-top: 24px;
  h4{
    font-size: 18px;
    margin-bottom: 16px;
  }
  hr.divider_hr{
    margin: 24px 0 !important;
  }
  .item-common{
    margin-top: 16px;
    border: 1px solid $primaryColor;
    border-radius: 16px;
    background-color: $bgPrimaryLight;
    padding: 24px;
    h5{
      font-size: 18px;
      margin-bottom: 16px;
    }
    .form{
      &__item_inline{
        gap: 8px;
      }
      &__label{
        font-size: 14px;
        color: $normalText;
      }
      &__input{
        flex-basis: 60%;
      }
      &__notice{
        font-size: 14px;
        color: $normalText;
        i{
          vertical-align: middle;
        }
      }
    }
  }
}

.section-container{
  position: relative;
  section{
    margin-bottom: 12px;
    background-color: #fff;
    &:after{
      content:'';
      display: block;
      border-bottom: 2px dashed #5E5E5E;
      margin: 40px -24px;
    }
  }
  .section{
    &__title_bar{
      display: flex;
      height: 40px;
      margin: 0 -24px 24px;
      padding: 0 24px;
      background-color: #919191;
      color: #FFFFFF;
      justify-content: space-between;
      align-items: center;
      .title{
        font-size: 16px;
        font-weight: 700;
      }
      .fn-group{
        display: flex;
        align-items: center;
        gap: 12px;
        a.btn{
          color: #FFF;
          border-color: #FFF;
          font-size: 12px;
        }
        button.toggle{
          padding: 0;
          background-color: transparent;
          border: 0;
          margin: 0 8px;
        }
      }
    }
    &__form_item{
      margin-bottom: 16px;
    }
    &__label{
      font-size: 14px;
      font-weight: 600;
      color: $Title_Dark;
      margin-bottom: 8px;
      &.required{
        &:after{
          content: '*';
          vertical-align: text-top;
          color: #FF44BF;
          font-size: 18px;
        }
      }
    }
  }
  
}
button.btn-add{
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
  background-color: #FFF;
  color: $primaryColor;
  border: 1px dashed #BDBDBD;
  border-radius: 16px;
  margin: 24px 0;
  &:hover{
    background-color: #F9F9F9;
  }
}

.img-uploader{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 136px;
  border-radius: 16px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .upload-trigger{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFF;
  }
}

.regist-info-fn-group{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  .btn{
    height: 44px;
    padding: 0 16px;
    font-size: 16px;
  }
}