@use 'variables' as *;
.eva-list-current{
  .eva-list{
    &__card{
      padding: 24px;
      margin-top: 40px;
      .content-wrap{
        &__topper{
          display: flex;
          justify-content: space-between;
          .start{
            display: flex;
            gap: 12px;
            flex: 1 1 auto;
          }
          .end{
          }
        }
        .list-wrap{
          display: grid;
          margin-top: 24px;
          &.type-card{
            gap: 24px;
            grid-template-columns: repeat(2, 1fr);
          }
          &.type-list{
            grid-template-columns: 1fr;

          }
        }
      }
    }
  }
}
