@use 'variables' as *;
.eva-result{
  h3{
    font-size: 18px;
    font-weight: 700;
    color: $Title_Dark;
  }
  .label{
    font-size: 16px;
    font-weight: 700;
    color: $Title_Dark;
    margin-bottom: 8px;
    &:before{
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: $Title_Dark;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 4px;
    }
  }
  .content{
    padding-left: 8px;
    color: $normalText;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  .summary{
  }
  .eva-schedule{
    ul{
      display: flex;
      gap: 4px;
      li{
        &:after{
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          height: 16px;
          background-image: url('../../images/icon_chevron_right-16.svg');
          background-repeat: no-repeat;
          margin-left: 4px;
        }
        &:nth-last-of-type(1){
          &:after{
            content: none;
          }
        }
      }
    }
  }

  .eva-member-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  .evaluator-card{
    display: flex;
    width: 230px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background-color: $bgLightGray;

    &__profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 100%;
    }

    &__avatar{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      width: 100%;
    }

    &__name{
      width: 100%;
      color: $Title_Dark;
      text-align: center;
      font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
    }

    &__department{
      width: 100%;
      color: $Title_Dark;
      text-align: center;
      font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      white-space: pre-line;
    }

    &__details{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      width: 100%;
    }

    &__details-title{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      color: $Title_Dark;
      text-overflow: ellipsis;
      font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.5;
    }

    &__details-content{
      width: 100%;
      color: $normalText;
      font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .eva-detail-score{
    margin-top: 16px;
    &__label{
      font-size: 16px;
      font-weight: 700;
      color: $Title_Dark;
    }
    &__sub-text{
      font-size: 14px;
      color: $normalText;
    }
    .eva-target__score-list{
      .item{
        padding: 16px 0;
        &:nth-last-of-type(1){
          border-bottom: 0;
        }
        &__title{
          font-size: 14px;
          color: $Title_Dark;
        }
        &__score_info{
          .end{
            .calc-score{
              color: $primaryColor;
              &__label{
                font-weight: 400;
              }
            }
          }
        }
        .progress-bar{
          .bar{
            background-color: $primaryColor;
          }
        }
      }
    }
  }

}
