@use 'variables' as *;
.eva-create{
  h3{
    font-size: 18px;
    font-weight: 700;
    color: $Title_Dark;
  }
  &__label{
    font-size: 14px;
    font-weight: 600;
    color: $Title_Dark;
    line-height: 1;
    margin-bottom: 8px;
    &.required{
      &:after{
        content: '*';
        vertical-align: text-top;
        color: #FF44BF;
        font-size: 1em;
      }
    }
  }
  .img-select{
    display: grid;
    grid-template-columns: repeat(5, 136px);
    gap: 10px;
    .item{
      border: 2px solid transparent;
      height: 136px;
      border-radius: 16px;
      overflow: hidden;
      cursor: pointer;
      > img{
        width: 100%;
        height: 100%;
      }
      &.active{
        position: relative;
        border: 2px solid $primaryColor;
        &:before{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(241, 238, 251, 0.5);
        }
        &:after{
          content: '';
          display: inline-flex;
          position: absolute;
          left: calc(50% - 30px);
          top: calc(50% - 30px);
          width: 60px;
          height: 60px;
          border-radius: 16px;
          background-image: url('../../images/icon_check_29.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-color: rgba(77, 36, 195, 0.8);

        }
      }
    }
    &__uploader{
      button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 100%;
        width: 100%;
        border: 0;
        background-color: #747474;
        color: #FFFFFF;
        img{
          width: 48px;
          height: 41px;
        }
        .label{
          font-size: 12px;
        }
      }
    }
  }
  &__form{
    .input-radio{
      .radio-btn{
        margin-right: 16px;
      }
      .label{
        font-size: 14px;
      }
    }
  }
}
.host-list{
  margin-top: 24px;
  .item{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
    .img-wrap{
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      width: 60px;
      height: 60px;
      padding: 0;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:hover{
        position: relative;
        &:before{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,.8);
        }
        &:after{
          content: '';
          display: inline-flex;
          position: absolute;
          top: calc(50% - 12px);
          left: calc(50% - 12px);
          width: 24px;
          height: 24px;
          background-color: #FFF;
          border-radius: 50%;
          background-image: url('../../images/icon_edit-16.svg');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    .btn-add-logo{
      border-radius: 8px;
      width: 60px;
      height: 60px;
      padding: 0;
      background-color: $normalText;
      color: #FFF;
      font-size: 12px;
      text-decoration: underline;
      border: 0;
    }
  }
  
}
.use-setting{
  &__sub-text{
    font-size: 14px;
    line-height: 1.5;
    color: $normalText;
    margin-bottom: 8px;
  }
  &__form{
    margin-bottom: 24px;
    .toggle-switch{

    }
  }
}