@use 'variables' as *;
@use 'mixin' as *;
.eva-member-add{
  &__label{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: $Title_Dark;
    margin-bottom: 8px;
    margin-top: 24px;
    &.required{
      @include required;
    }
    &:nth-of-type(1){
      margin-top: 0;
    }
  }
  &__sub{
    color: $smallText;
    font-size: 12px;
    margin-left: 8px;
  }
  &__list{
    .profile-add{
      &__wrapper{
        display: flex;
        align-items: center;
        gap: 24px;
      }
      &__img{
        display: inline-block;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: auto;
        border-radius: 160px;
        border: 1px solid var(--Line_Light_Gray01, #EAEAEA);
        background: var(--BG_Light_Gray, #F9F9F9) url('../../images/icon_profile_dummy.svg') no-repeat center;
        // background-image: url('../../images/icon_profile_dummy.svg');
        // background-repeat: no-repeat;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__content{
        .notice{
          font-size: 14px;
          color: #B0B0B0;
          margin-top: 12px;
        }
      }
    }
  }
}