@use 'variables' as *;
.expose-set{
  display: flex;
  align-items: center;
  margin: 24px 0;
  gap: 12px;
}
.regist-info{
  &__title{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  &__notice{
    font-size: 14px;
    color: $normalText;
    margin-top: 16px;
    i{
      vertical-align: middle;
    }
  }
}
.regist-detail-desc{
  border: 1px solid $cardBorderColor;
  border-radius: 16px;
  padding: 24px;
  margin-top: 16px;
  h4{
    margin-bottom: 16px;
  }
  &__grid{
    display: grid;
    grid-template-columns: 136px 3fr;
    gap: 16px;
  }
  .form{
    &__item{
      &_wide{
        grid-column: 1 / 3;
      }
    }
    &__label{
      font-size: 14px;
      margin-bottom: 8px;
      &.require{
        &:after{
          content: '*';
          vertical-align: text-top;
          color: #FF44BF;
          font-size: 1em;
        }
      }
    }
  }
  &__footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
  }
}

.img-uploader{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 136px;
  border-radius: 16px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .upload-trigger{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFF;
  }
}