@use 'variables' as *;

.file-list-popup {
  position: absolute;
  left: 0;
  top: 8px;
  width: 300px;
  padding: 20px;
  background: #FFF;
  border: 1px solid #7A53EC;
  border-radius: 8px;
  box-shadow: 0 12px 20px 0 rgba(90, 75, 121, 0.20);
  z-index: 1;

  &__close-btn {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 21px;
    height: 21px;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  &__close-line {
    position: absolute;
    background: #FFF;

    &--1 {
      width: 1px;
      height: 11px;
      left: 10px;
      top: 5px;
      transform: rotate(-135deg);
    }

    &--2 {
      width: 11px;
      height: 1px;
      left: 5px;
      top: 10px;
      transform: rotate(-135deg);
    }
  }

  &__content {
    display: flex;
    width: 260px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  &__title {
    margin: 0;
    color: #0A0A0A;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__count {
    color: #4D24C3;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    margin-top: 12px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  &__item-info {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  &__file-icon {
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #F5F5F5;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__file-name {
    display: inline-block;
    margin-top: 2px;
    color: #747474;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
  }

  &__delete-btn {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-top: 3px;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }


  &__actions {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-top: 1px solid #E4E4E4;
    padding-top: 12px;
  }

  &__action-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }

    svg {
      width: 16px;
      height: 16px;
    }
    &:last-child{
      justify-content: flex-end;
    }
  }

  &__action-text {
    color: #0A0A0A;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration-line: underline;
  }
}
