@use 'variables' as *;

.file-upload-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 45px;
  padding: 12px 16px;
  border: 1px dashed #BDBDBD;
  border-radius: 8px;
  background: $bgLightGray;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: #A68FEB;
    background: #FDFCFF;
  }
  &.dragover {
    border-color: #007bff;
    background-color: #e6f2ff;
  }

  .file-upload-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  .file-upload-text {
    color: #A68FEB;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  input[type="file"] {
    display: none;
  }
}
.file-list{
  .file-item{
    margin-bottom: 8px;
  }
}
.file-item, .link-item {
  background-color: #FFF;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  &:hover{
    border-color: $primaryColor;
    .file-item__name{
      color: $primaryColor;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    min-width: 240px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    min-width: 0;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 4px;
    flex-shrink: 0;

    img {
      width: 16px;
      height: 16px;
    }
  }

  &__name {
    display: inline-block;
    max-width: 310px;
    color: $Title_Dark;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 12px;
      height: 12px;
    }
  }
}
.link-item {
  &__name{
    max-width: 25%;
  }
}