@use 'variables' as *;

.file-upload-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 45px;
  padding: 12px 16px;
  border: 1px dashed #BDBDBD;
  border-radius: 8px;
  background: $bgLightGray;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: #A68FEB;
    background: #FDFCFF;
  }
  &.dragover {
    border-color: #007bff;
    background-color: #e6f2ff;
  }

  .file-upload-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  .file-upload-text {
    color: #A68FEB;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  input[type="file"] {
    display: none;
  }
}
.file-list{
  .file-item{
    margin-bottom: 8px;
  }
}