@use 'variables' as *;

.main-footer {
  background-color: #FFFFFF;
  padding: 80px 0 100px;
  
  &-container {
    width: 1200px;
    margin: 0 auto;
  }
}

.footer-top-links {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 45px;
}

.footer-link {
  color: #575757;
  font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 669px;
}

.company-info {
  color: #6C7084;
  font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  
  .info-text {
    color: #6C7084;
  }
  
  .info-separator {
    color: #CBC4D4;
  }
}

.copyright {
  color: #6C7084;
  font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icon {
  position: relative;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  
  &-bg {
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #E0E0F2;
  }
  
  svg {
    position: relative;
    z-index: 1;
  }
  
  &:hover {
    .social-icon-bg {
      background-color: darken(#E0E0F2, 5%);
    }
  }
}
