@use 'variables' as *;
@use 'mixin' as *;
.form-list{
  width: 100%;
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
    .add-btn{
      margin-left: 8px;
    }
  }
  &__label{
    flex-basis: 100px;
    font-size: 14px;
    color: $normalText;
    &.required{
      @include required;
    }
  }
  &__input{
    flex: 1 1 auto;
  }
}