.icon-eva-delete{
  width: 12px;
  height: 12px;
}
.icon-eva-info-mod{
  width: 12px;
  height: 12px;
}
.icon-copy{
  width: 16px;
  height: 16px;
}
.icon-copy-white{
  width: 16px;
  height: 16px;
}
.icon-upload{
  width: 12px;
  height: 12px;
}
.icon-preview{
  width: 12px;
  height: 12px;
}
.icon-delete-white{
  width: 16px;
  height: 16px;
}
.icon-download-16{
  width: 16px;
  height: 16px;
}