@use 'variables' as *;
body{
  background-color: #F5F5F5;
}
.main-container{
  padding-top: $gnbHeight;
  .content-topper{
    display: flex;
    gap: 12px;
    .btn-nav{
      margin-right: 12px;
    }
  }
}
.content-topper{
  height: 29px;
  margin: 40px 0 24px;
}
h2{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  // line-height: 1.4;
  font-weight: 700;
  color: $Title_Dark;
  &.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 100px;
}