@use 'variables'as *;

:root {
  --transition: all cubic-bezier(0, 0.69, 0.27, 0.87) 0.5s;
}

.motion {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

section.main-banner {
  &__01 {
    position: relative;
    background-color: #FFF;
    height: 80vh;
    overflow: hidden;

    .img-main-01 {
      position: absolute;
      transition: var(--transition);
      bottom: -50px;
      right: 0;
      transition-delay: 1s;
      // opacity: 0;

      // &.active {
      //   bottom: 0;
      //   opacity: 1;
      // }
    }

    .text-container {
      position: absolute;
      top: 128px;
      left: 220px;

      h1 {
        font-size: 55px;
        line-height: 1.4;
        font-weight: 700;
        color: #111;
      }

      .sub-text {
        margin-top: 32px;
        margin-bottom: 70px;
        font-size: 25px;
        font-weight: 400;
        color: #111;
        line-height: 1.4;
      }
    }

    button.btn-link {
      display: inline-flex;
      justify-content: space-between;
      width: 260px;
      align-items: center;
      border: 0;
      height: 72px;
      padding: 0 30px;
      border-radius: 40px;
      font-size: 20px;
      font-weight: 700;
      color: #FFFFFF;
      background: linear-gradient(96deg, rgba(115, 3, 154, 0.00) 13.2%, rgba(255, 238, 219, 0.25) 87.66%), var(--Primary-Color_01, #4D24C3);
      background-size: 200% 100%;
      background-position: 0% 50%;
      transition: background-position 0.6s ease;
      svg{
        transition: transform 0.3s ease;
      }
      &:hover {
        background-position: 100% 50%;
        svg {
          transform: translateX(6px);
        }
      }
    }
  }

  &__02 {
    background: linear-gradient(0deg, #FFF 60%, #E4E8F6 90%);
    background-blend-mode: multiply;

    .banner-content {
      padding-top: 150px;
      padding-bottom: 40px;

      .banner-title {
        display: block;
        margin-bottom: 155px;
        font-size: 55px;
        font-weight: 700;
        color: #111111;
        text-align: center;
      }
    }

    .features-grid {
      display: grid;
      grid-template-columns: 490px 140px 490px;
      grid-template-rows: 340px 340px;
      width: 1200px;
      margin: 0 auto;
      gap: 30px 40px;

      .feature-card {
        position: relative;
        padding: 70px 0 0 50px;
        border-radius: 30px;

        &:nth-of-type(1) {
          background-color: #F5FAFE;
          grid-column: 1 / 2;
        }

        &:nth-of-type(2) {
          background-color: #F3F7FF;
          grid-column: 2 / 4;
        }

        &:nth-of-type(3) {
          background-color: #F3F7FF;
          grid-column: 1 / 3;
        }

        &:nth-of-type(4) {
          background-color: #F5FAFE;
          grid-column: 3 / 4;
        }

        &-title {
          font-size: 32px;
          font-weight: 500;
          color: #111;
        }

        &-description {
          margin-top: 38px;
          font-size: 18px;
          color: #666;
          line-height: 1.4;
        }

        .feature-icon-wrapper {
          position: absolute;
        }

        &.feature-card-top-left {
          .feature-icon-wrapper {
            right: 40px;
            top: -24px;
          }

          .feature-card-description {
            max-width: 380px;
          }
        }

        &.feature-card-top-right {
          .feature-icon-wrapper {
            right: 40px;
            top: -50px;
          }

          .feature-card-description {
            max-width: 415px;
          }
        }

        &.feature-card-bottom-left {
          .feature-icon-wrapper {
            right: -17px;
            top: -55px;
          }

          .feature-card-description {
            max-width: 480px;
          }
        }

        &.feature-card-bottom-right {
          .feature-icon-wrapper {
            right: 20px;
            top: -25px;
          }

          .feature-card-description {
            max-width: 380px;
          }

        }
      }
    }
  }

  &__03 {

    background-color: #021D7D;
    background-image: url('../../images/main/main_02.svg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    .banner-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 320px;
      max-width: 1200px;
      margin: 0 auto;
      h2{
        font-size: 35px;
        font-weight: 700;
        color: #FFFFFF;
      }
      button.btn-to-stich{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        width: 280px;
        height: 75px;
        color: #021D7D;
        font-size: 22px;
        font-weight: 500;
        border: 0;
      }
    }
  }
  &__04{
    background-color: #FFFFFF;
    padding: 150px 0;
    h2{
      display: block;
      font-size: 55px;
      text-align: center;
      font-weight: 700;
      color: #111111;
      margin-bottom: 65px;
    }
    .how-to-wrapper{
      display: flex;
      width: 1200px;
      margin: 0 auto;
      justify-content: space-between;
      gap: 120px;
      &__right{
        position: relative;
        flex: 0 0 645px;
      }
    }
    .how-to-content{
      flex: 0 0 460px;
      position: relative;
      height: 100%;
      &__catch-phrase{
        font-size: 20px;
        font-weight: 700;
        color: $primaryColor2;
        margin-bottom: 35px;
        opacity: 0;
      }
      &__title{
        display: flex;
        align-items: center;
        font-size: 38px;
        color: #111;
        margin-bottom: 30px;
        gap: 16px;
        white-space: nowrap;
        opacity: 0;
        .circle{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 41px;
          height: 41px;
          background-color: #111;
          color: #FFF;
          font-size: 25px;
          font-weight: 900;

        }
      }
      &__description{
        color: #666;
        font-size: 20px;
        line-height: 1.3;
        padding-left: 60px;
        opacity: 0;
      }
      .item{
        // display: none;
        position: absolute;
        top: 10px;
        opacity: 0;
        transition: all ease-in 0.3s;
        transition-delay: 0.2s;
        &.show,
        &.active{
          // display: block;
          opacity: 1;
          top: 0;
          .how-to-content__catch-phrase,
          .how-to-content__title,
          .how-to-content__description{
            opacity: 1;
            transition: all 0.5s;
          }
          .how-to-content__catch-phrase{
            transition-delay: 0.2s;
          }
          .how-to-content__title{
            transition-delay: 0.3s;
          }
          .how-to-content__description{
            transition-delay: 0.4s;
          }
        }
      }
    }

    .how-to-swiper{
      position: relative;
      
      width: 645px;
      height: 443px;
      .capture-card{
        position: relative;
        background-color: #F2F3FF;
        border-radius: 15px;
        overflow: hidden;
        img{
          position: absolute;
          left: calc(50% - 230px);
          top: 50px;
        }
        // width: 645px;
        // height: 443px;
      }
    }
    .swiper-pagination{
      display: flex;
      gap: 16px;
      bottom: -20px;
      .swiper-pagination-bullet{
        opacity: 1;
        border-radius: 0;
        height: 6px;
        flex: 1 1 30%;
        background-color: #D9D9D9;
        &.swiper-pagination-bullet-active{
          background-color: $primaryColor;
        }
      }
    }
  }

  &__05 {
    background-color: #0A0A0A;
    padding: 150px 0 190px;

    .banner-content {
      width: 1200px;
      margin: 0 auto;
    }

    .section-header {
      text-align: center;
      margin-bottom: 65px;
    }

    .section-title {
      font-size: 55px;
      font-weight: 700;
      line-height: 1.2;
      color: #FFFFFF;
      margin-bottom: 30px;
    }

    .section-subtitle {
      font-size: 20px;
      font-weight: 700;
      color: #9071EB;
    }

    .steps-grid {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .step-card {
      position: relative;
      width: 100%;
      height: 460px;
      border-radius: 80px;
      border: 1px solid #383838;
      background: linear-gradient(135deg, rgba(58, 58, 58, 0.4) 0%, rgba(26, 26, 26, 0.6) 100%);
      box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.20);
      overflow: hidden;

      &:nth-child(1) {
        .step-visual {
          left: 204px;
          top: 104px;
        }

        .step-content {
          right: 194px;
          top: 120px;
          left: auto;
        }
      }

      &:nth-child(2) {
        .step-visual {
          right: 200px;
          top: 91px;
          left: auto;
        }

        .step-content {
          left: 135px;
          top: 101px;
          right: auto;
        }
      }

      &:nth-child(3) {
        .step-visual {
          left: 159px;
          top: 105px;
        }

        .step-content {
          right: 194px;
          top: 100px;
          left: auto;
        }
      }

      &:nth-child(4) {
        .step-visual {
          right: 118px;
          top: 80px;
          left: auto;
        }

        .step-content {
          left: 135px;
          top: 100px;
          right: auto;
        }
      }
    }

    .step-visual {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      .step-icon {
        filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
      }
    }

    .step-content {
      position: absolute;
      max-width: 377px;
    }

    .step-info {
      .step-number {
        display: block;
        font-size: 55px;
        font-weight: 300;
        color: #9071EB;
        line-height: normal;
        margin-bottom: 8px;
      }

      .step-title {
        font-size: 38px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: normal;
        margin-bottom: 30px;
      }

      .step-description {
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: normal;
      }
    }
  }

  &__06 {
    background-color: #FFFFFF;
    padding: 150px 0;
    h2{
      display: block;
      font-size: 55px;
      text-align: center;
      font-weight: 700;
      color: #111111;
      margin-bottom: 60px;
      letter-spacing: -3px;
    }

    .banner-content {
      width: 1200px;
      margin: 0 auto;

      h2 {
        font-size: 55px;
        font-weight: 700;
        color: #111;
        line-height: 1.2;
        margin-bottom: 65px;
        text-align: center;
      }
    }

    .swiper.why-stich-swiper {
      width: 1200px;
      height: 550px;
      overflow: visible;
    }

    .why-card {
      width: 1000px;
      height: 550px;
      border-radius: 30px;
      box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.20);
      background-color: #FFFFFF;
      overflow: hidden;
    }

    .why-card-content {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
    }

    .why-card-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      width: 473px;
      padding: 80px 0 0 60px;
    }

    .why-card-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 38px;
      border-radius: 100px;
      border: 1px solid $primaryColor;
      background-color: rgba(166, 143, 235, 0.20);;

      span {
        font-size: 18px;
        font-weight: 400;
        color: $primaryColor;
        text-transform: capitalize;
      }
    }

    .why-card-title {
      font-size: 40px;
      font-weight: 400;
      color: #111;
      line-height: normal;
    }

    .why-card-description {
      font-size: 16px;
      font-weight: 400;
      color: $normalText;
      line-height: 1.4;
    }

    .why-card-visual {
      flex: 0 0 600px;
      width: 600px;
      height: 550px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .why-stich-swiper__pagination{
      // position: absolute;
      // bottom: - !important;
      margin-top: 40px;
      text-align: center;
    }
    .swiper-pagination-bullet{
      margin: 0 10px !important;
      width: 14px;
      height: 14px;
      transition: all 0.2s;
    }
    .swiper-pagination-bullet-active{
      width: 45px !important;
      background-color: $primaryColor;
      border-radius: 10px;
    }

    .plan-cards {
      display: flex;
      gap: 24px;
      justify-content: center;
      margin-top: 60px;
    }

    .item-card {
      width: 384px;
      border: 1px solid $cardBorderColor;
      border-radius: 16px;
      padding: 60px 32px;
      background-color: #FFFFFF;

      .card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 48px;
      }

      .card-title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
      }

      .card-title {
        font-size: 32px;
        font-weight: 700;
        color: #111;
        text-align: center;
      }

      .card-badge {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 20px;
        border-radius: 99px;
        background-color: $pointColor2;

        .badge-text {
          font-size: 14px;
          font-weight: 400;
          color: #FFFFFF;
        }
      }

      .card-price {
        text-align: center;

        .price-amount {
          font-size: 48px;
          font-weight: 700;
          color: $primaryColor;
        }

        .price-unit {
          font-size: 20px;
          font-weight: 400;
          color: $normalText;
        }
      }

      .card-features {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .feature-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        .feature-text {
          flex: 1;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          color: $Title_Dark;
        }

        .feature-check-icon {
          flex-shrink: 0;
        }
      }
    }
  }
  &__07 {
    padding: 150px 0;
    h2{
      display: block;
      font-size: 55px;
      text-align: center;
      font-weight: 700;
      color: #FFFFFF;
      margin-bottom: 65px;
      margin-bottom: 80px;
    }
    min-height: 900px;
    background-image: url('../../images/main/main_03.png');
    background-position: center;
    background-size: cover;
  }
}
