@use 'variables' as *;
body{
  background-color: #F5F5F5;
}
.main-container{
  padding-top: $gnbHeight;
}
.content-header{
  display: block;
  gap: 12px;
  .btn-nav{
    margin-right: 12px;
  }
}
h2{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
  color: $Title_Dark;
}