@use 'variables'as *;

.member-invite {
  .set-member-agree-toggle {
    display: flex;
    margin-top: 40px;
    margin-bottom: 16px;
    gap: 16px;

    .toggle-switch__label {
      color: $normalText;
    }

    .icon-setting {
      background-image: url('../../images/icon_setting.svg');
      background-repeat: no-repeat;
      background-position: right 16px center;
      background-size: 12px 12px;
      padding-right: 40px;
    }
  }

  &__total {
    font-size: 14px;
    color: $normalText;
    font-weight: 400;

    em {
      color: #4D24C3;
      font-weight: 700;
    }
  }

  .list-topper {}

  &__list {
    margin-top: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        th {
          background-color: #E9E9E9;
          color: $normalText;
          font-size: 14px;
          font-weight: 600;
          padding: 8px;
          white-space: nowrap;
          height: 50px;
        }
      }

      tbody {
        tr:nth-of-type(even) {
          td {
            background-color: #F9F9F9;
          }
        }

        tr.disabled {
          td {
            opacity: 0.5;
          }
        }

        td {
          color: $normalText;
          font-size: 14px;
          padding: 12px 8px;
          text-align: center;
          white-space: nowrap;

          .ellipsis {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.w-100 {
              width: 100px;
            }

            &.w-150 {
              width: 150px;
            }
          }

          &:first-child {
            text-align: left;
          }
        }
      }
    }

    .btn.underline {
      color: $normalText;
    }

    .download-wrap {
      display: flex;
      gap: 12px;

      .icon-check {
        display: inline-flex;
        width: 24px;
        height: 24px;
        background-color: #E9E9E9;
        border-radius: 4px;
        color: #B0B0B0;
        align-items: center;
        justify-content: center;

        &.checked {
          background-color: $primaryColor;
          color: #FFF;
        }
      }
    }

    .badge {
      display: inline-flex;
      height: 22px;
      padding: 4px;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background-color: #E9E9E9;
    }

    .icon-setting {
      width: 14px;
      height: 14px;
    }

    .member-badge-tooltip {
      position: relative;
      display: inline-block;

      &.w-100 {
        width: 100px;
      }

      &.w-150 {
        width: 150px;
      }

      &__target {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        max-width: 100%;
      }

      &__tooltip {
        display: none;
        top: calc(100% + 8px);
        left: 0;
        white-space: normal;
        
      }

      &:hover .member-badge-tooltip__tooltip {
        display: block;
      }
    }
  }
}

.member-badge-tooltip {
  &__tooltip{
    display: none;
    max-width: 300px;
    flex-wrap: wrap;
    transform: translateX(-30%);

    .badge {
      display: inline-flex;
      height: 22px;
      padding: 4px;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background-color: #E9E9E9;
      font-size: 12px;
      color: #484848;
    }
  }
  &__badges {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

}