@use 'variables' as *;
.member-welcome, .eva-build-success, .eva-build-reset, .pay-succeess, .eva-regist-success{
  .img-wrap{
    text-align: center;
  }
  .alert-message{
    margin-top: 40px;
    text-align: center;
    p{
      font-size: 16px;
      font-weight: 700;
      color: $Title_Dark;
      &.sub-text{
        font-size: 14px;
        color: $normalText;
        line-height: 1.5;
        font-weight: 400;
      }
    }
  }
}
.eva-build-success.layer-popup,
.eva-regist-success.layer-popup,
.pay-succeess.layer-popup{
  width: 600px;
  .btn.no-more{
    color: #747474;
  }
}