@use 'variables' as *;

.overage-details-table {
  border-radius: 8px;
  max-width: 619px;
  overflow: hidden;
  color: $normalText;
  font-size: 14px;
  font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;

  @media (max-width: 991px) {
    max-width: 100%;
  }
}

.overage-details-table__header {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (max-width: 991px) {
    max-width: 100%;
  }
}

.overage-details-table__header-cell {
  justify-content: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  min-height: 50px;
  gap: 4px;
  background-color: $NormalDarkGray;
  margin: auto 0;
  padding: 17px 12px;

  &--eva-name {
    width: 200px;
    white-space: nowrap;

    @media (max-width: 991px) {
      white-space: initial;
    }
  }

  &--exceeded-item {
    width: 140px;
  }

  &--exceeded-usage {
    flex: 1;
  }

  &--unit-price {
    width: 104px;
    white-space: nowrap;

    @media (max-width: 991px) {
      white-space: initial;
    }
  }

  &--amount {
    width: 87px;
    white-space: nowrap;

    @media (max-width: 991px) {
      white-space: initial;
    }
  }
}

.overage-details-table__header-text {
  color: $normalText;
  align-self: stretch;
  margin: auto 0;
}

.overage-details-table__row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (max-width: 991px) {
    max-width: 100%;
  }

  &--multi {
    align-items: stretch;
  }

  &--large {
    .overage-details-table__cell--multi-row {
      min-height: 90px;
    }
  }
}

.overage-details-table__cell {
  display: flex;
  gap: 4px;
  padding: 12px;

  &--eva-name {
    justify-content: center;
    align-items: center;
    border-right: 1px solid $cardBorderColor;
    color: $Title_Dark;
    font-weight: 600;
    width: 200px;
    height: 100%;
  }

  &--exceeded-item {
    align-items: center;
    justify-content: flex-start;
    width: 140px;
    color: $normalText;
  }

  &--exceeded-usage {
    align-items: center;
    justify-content: flex-start;
    width: 88px;
    white-space: nowrap;
    text-align: right;
    color: $normalText;

    @media (max-width: 991px) {
      white-space: initial;
    }
  }

  &--unit-price {
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    width: 104px;
    color: $normalText;
  }

  &--amount {
    align-items: center;
    justify-content: flex-start;
    text-align: right;
    width: 87px;
    color: $normalText;
  }

  &--highlight {
    background-color: $bgLightGray;
  }

  &--align-right {
    text-align: right;
  }

  &--multi-row {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    width: 183px;
  }

  &--multi-row-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto 0;
    min-height: 45px;
  }

  &--border-top {
    border-top: 1px solid $cardBorderColor;
  }
}

.overage-details-table__cell-text {
  color: inherit;
  align-self: stretch;
  margin: auto 0;

  &--ellipsis {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: $Title_Dark;
    text-overflow: ellipsis;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }

  &--multiline {
    color: $Title_Dark;
    line-height: 21px;
    font-weight: 700;
  }
}

.overage-details-table__cell-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  background-color: #FFF;
}

.overage-details-table__sub-row {
  display: flex;
  align-items: center;

  &--border-top {
    .overage-details-table__cell:not(.overage-details-table__cell--multi-row-content) {
      border-top: 1px solid $cardBorderColor;
    }
  }

  .overage-details-table__cell {
    background-color: #FFF;
  }

  .overage-details-table__cell--exceeded-item,
  .overage-details-table__cell--exceeded-usage,
  .overage-details-table__cell--unit-price {
    max-width: 100%;
  }

  .overage-details-table__cell-text {
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
}
