@use 'variables' as *;

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.pagination-nav-group {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 16px;
}

.pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  
  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}

.pagination-page {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 13px 0;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: #919191;
  text-align: center;
  font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: color 0.2s, font-weight 0.2s;

  &:hover {
    color: $Title_Dark;
  }

  &.pagination-page-active {
    color: $Title_Dark;
    font-weight: 700;
  }
}
