@use 'variables' as *;
.progress-bar{
  display: block;
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #EDEDED;
  border-radius: 20px;
  overflow: hidden;
  .bar{
    position: absolute;
    display: block;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: $primaryColor;
  }
}