@use 'variables' as *;
.regist-result{
  text-align: center;
  &__thumbnail{
    display: inline-block;
    width: 148px;
    height: 148px;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 24px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    color: $Title_Dark;
  }
  &__sub{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: $normalText;
    margin-top: 12px;
  }
  &__message{
    font-size: 24px;
    font-weight: 700;
    color: $primaryColor2;
    margin-bottom: 16px;
    &_sub{
      font-size: 14px;
      line-height: 1.5;
      color: $normalText;
    }
  }
  &__footer{
    position: relative;
    margin-top: 40px;
    text-align: center;
    .retry{
      position: absolute;
      height: 44px;
      right: 0;
    }
  }
}