@use 'variables'as *;

.regist-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__logo {
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 1;

    img {
      width: 97px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    position: absolute;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 40px 32px;
    h2{
      display: block;
      font-size: 24px;
      color: $Title_Dark;
      margin-bottom: 16px;
      text-align: center;
    }
    .sub-text{
      margin-top: 8px;
      margin-bottom: 24px;
      font-size: 14px;
      color: $normalText;
      text-align: center;
    }
  }

  &__btn{
    justify-content: center;
    width: 100%;
  }

}
.start{
  &__terms-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }
  &__terms-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ckb{
      display: flex;
    }
  }
}