@use 'variables' as *;
.regist-form{
  padding: 24px;
  h3{
    text-align: center;
    font-size: 32px;

  }
  &__term-agree{
    &.gray-box{
      background-color: $bgPrimaryLight;
      border-radius: 8px;
      padding: 24px;
    }
    .label{
      font-size: 14px;
      font-weight: 600;
      color: $Title_Dark;
      margin-bottom: 16px;
      .btn{
        margin-left: 12px;
      }
    }
  }
  &__bottom{
    margin-top: 24px;
    text-align: center;
  }
}