@use 'variables'as *;

:root {
  --color-gray-light: #D9D9D9;
  --bg-step-tab-active: #DDD3FF;
  --bg-step-tab-text-active: #4322A3;
  --ck-size-sm: 16px;
}

.regist-detail {
  padding: $cardPadding;

  .badge {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    height: 22px;
    padding: 4px;
    background-color: #F5F5F5;
    color: #A68FEB;
  }

  .content-header {
    display: flex;
    justify-content: space-between;

    .flex-start {
      .badge {
        margin-right: 4px;
      }
    }

    .flex-end {
      .btn {
        margin-left: 4px;
      }
    }
  }

  .content-title {
    h3 {
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 32px;
      font-weight: 700;
    }
  }

  .content-body {
    .summary {
      display: flex;
      gap: 24px;

      &__thumbnail {
        flex: 0 0 200px;
        width: 200px;
        height: 200px;
        border-radius: 12px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__box {
        flex: 1 1 auto;

        ul {
          li {
            display: flex;
            gap: 8px;
            margin-bottom: 18px;


            &:last-child {
              margin-bottom: 0;
            }

            .label {
              color: $Title_Dark;
              font-size: 16px;
              font-weight: 700;
              width: 60px;
              white-space: nowrap;
            }

            .data {
              font-size: 16px;
              color: $Title_Dark;
              .notice{
                font-size: 12px;
                color: $primaryColor;
                margin-left: 8px;
              }
              .period {
                color: $normalText;
                margin-bottom: 4px;
              }
              .thumbnail{
                width: 45px;
                height: 45px;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              
            }

            .btn-wrap {}
          }
        }
        .tag-list{
          display: flex;
          gap: 8px;
          flex-wrap: wrap;
          .item{
            display: inline-flex;
            align-items: center;
            padding: 0 8px;
            background-color: var(--tag-bg);
            border-radius: 20px;
            font-size: 12px;
            color: $smallText;
            border: 0;
            white-space: nowrap;
            height: 24px;
          }
        }
      }

      .status {
        width: 300px;
        color: $normalText;

        .progress-bar-wrap {
          display: flex;
          align-items: center;
          margin-top: 8px;
          gap: 8px;
        }
      }
    }

    .content-detail-article {
      font-size: 14px;
      line-height: 1.5;
      color: $normalText;
      margin: 20px 0;
    }
  }

  .notice-box {
    display: flex;
    background-color: $bgLightGray;
    padding: 16px;
    border-radius: 12px;
    gap: 8px;
    justify-content: space-between;

    .icon {
      flex: 0 0 24px;
    }

    .notice-content {
      flex: 1 1 auto;

      .title {
        color: #0A0A0A;
        font-size: 16px;
        font-weight: 700;
        margin-top: 4px;
        margin-bottom: 8px;
      }

      .body {
        font-size: 12px;
        line-height: 1.5;
        color: $normalText;

        em {
          font-weight: 700;
          font-style: normal;
        }

        .link-to-contact {
          font-weight: 700;
          color: $normalText;
          text-decoration: underline;
        }
      }
    }

    .btn-wrap {
      display: flex;
      align-items: center;
    }
  }
  .content-footer{
    text-align: right;
    margin-top: 24px;
  }
}

.eva-field {
  .eva-list {
    .list-topper {
      .selected-status-bar {
        gap: 8px;
      }

      .toolbar {
        .flex-start {
          align-items: center;
        }
      }
    }
  }
}

.eva-template {
  h5.title {
    font-size: 14px;
    font-weight: 600;
    color: $Title_Dark;
    margin-bottom: 16px;

    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}

.eva-section-container {
  margin-top: 24px;
  padding: 24px;

  .content-header {
    margin-bottom: 24px;
    font-size: 14px;
    color: $normalText;

    &__upper {
      margin-bottom: 16px;

      em {
        color: $primaryColor;
        font-weight: 700;
      }
    }

    &__lower {
      display: flex;
      justify-content: space-between;

      .start,
      .end {
        display: flex;
        gap: 12px;
      }

      .end {
        justify-content: flex-end;
      }

      .toggle-switch__label {
        color: $normalText;
      }
    }
  }


}

.submit-btn-wrap {
  display: flex;
  padding: 24px 0 60px;

  &__start {
    flex-basis: 50%;
  }

  &__end {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  &__center {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  img {
    width: 16px;
    margin-right: 4px;
  }
}

.pagination-container {
  position: relative;

  .select-view-length {
    position: absolute;
    left: 0;
  }
}

.has-aside {
  display: flex;
  justify-content: center;
  gap: 24px;

  .content-wrapper {
    flex: 1 1 auto;
    margin: unset;
  }

  aside {
    position: sticky;
    top: 100px;
    /* 헤더 높이에 맞게 조정 */
    align-self: flex-start;
    margin-top: 93px;
    height: fit-content;
  }
}