@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
body{
  margin: 0;
  padding: 0;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo', 'Noto Sans', sans-serif;
}
body * {
  box-sizing: border-box;
  font-family: inherit;
}
ul, ol{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
h1, h2, h3, h4, h5, p{
  margin: 0;
}
a{
  text-decoration: none;
  color: #000000;
}
button{
  cursor: pointer;
}
em{
  font-style: normal;
  font-weight: 700;
}
img[src$=".svg"] {
  image-rendering: crisp-edges;
}
svg {
  shape-rendering: geometricPrecision; // 또는 crispEdges
}