body{
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
}
ul, ol{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
h1, h2, h3, h4, h5, p{
  margin: 0;
}
a{
  text-decoration: none;
  color: #000000;
}
button{
  cursor: pointer;
}
em{
  font-style: normal;
  font-weight: 700;
}