:root{
  --border-width: 1px;
  --border-color: #747474;
}
.select-border{
  color: var(--border-color);
  font-size: 16px;
  height: 21px;
  background-color: transparent;
  border-width: 0 0 var(--border-width) 0;
  border-color: var(--border-color);
}