@use 'variables' as *;
.select-type-list {
  &__item {
    display: flex;
    width: 720px;
    padding: 24px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #E4E4E4;
    background: #FFF;
    gap: 16px;
    margin-bottom: 24px;
    cursor: pointer;
  }
  &__content{
    .name{
      font-size: 20px;
      font-weight: 700;
      color: $Title_Dark;
      margin-bottom: 16px;
    }
    .desc{
      font-size: 14px;
      color: $normalText;
    }
  }
  &.multie-select{
  }
}