@use 'variables'as *;

:root {
  --border-width: 1px;
  --border-color: #747474;
  --border-color-focus: $primaryColor;
}

.select-border {
  color: var(--border-color);
  font-size: 16px;
  height: 21px;
  background-color: transparent;
  border-width: 0 0 var(--border-width) 0;
  border-color: var(--border-color);
}

.styled-select {
  color: $Title_Dark;
  font-size: 14px;
  height: 40px;
  background-color: $bgLightGray;
  border: 0;
  border-radius: 8px;
  padding: 0 16px;
  min-width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../images/icon_select_arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  &:focus-visible {
    outline: 1px solid var(--border-color-focus);
    box-shadow: 0 0 0 3px var(--border-color-focus);
  }
}