@use 'variables' as *;

.submit-evaluation-modal {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #FFF;

  &__content {
    display: flex;
    width: 243px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 20px 0;
  }

  &__title {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }

  &__icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__message {
    align-self: stretch;
    color: $normalText;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  &__confirm-btn {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: $primaryColor;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background: $primaryColor2;
    }
  }
}
