@use 'variables' as *;
:root{
  --nav-button-height: 30px;
}
.template-swiper-container {
  position: relative;
  width: 100%;
  // overflow: hidden;
  .fade-dim{
    position: absolute;
    right: 0;
    top: 0;
    width: 87px;
    height: 100%;
    z-index: 2;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 93.1%);
  }
}
.swiper-wrap{
  position: relative;
  .button-next, .button-prev{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - var(--nav-button-height)/2);
    width: 30px;
    height: var(--nav-button-height);
    z-index: 11;
    box-shadow: 0 1px 4px 0 rgba(122,83,236,0.20);
    color: $primaryColor;
    cursor: pointer;
    &.swiper-button-disabled{
      color: #B0B0B0;
    }
  }
  .button-prev{
    left: -15px;
    svg{
      transform: rotate(180deg);
    }
  }
  .button-next{
    right: 0;
  }
}
.template-swiper, .template-swiper-mine {
  width: 100%;
  height: auto;

  .swiper-wrapper {
    display: flex;
    height: auto;
    padding: 2px;
  }

  .swiper-slide {
    width: 160px;
    height: 200px;
    flex-shrink: 0;
  }
}

.template-card {
  position: relative;
  width: 160px;
  height: 200px;
  border-radius: 16px;
  background: #FFF;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;


  &--selected {
    outline: 2px solid #4D24C3;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: rgba(241, 238, 251, 0.50);
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 16px;
      background: rgba(77, 36, 195, 0.80);
      box-shadow: 0 2px 40px 0 rgba(186, 170, 234, 0.40);
      cursor: pointer;
      transition: all 0.2s ease;
      z-index: 3;
      background-image: url('../../images/icon_check_29.svg');
      background-repeat: no-repeat;
      background-position: center;
  
      &:hover {
        background: rgba(77, 36, 195, 0.90);
      }
  
      &:active {
        transform: translate(-50%, -50%) scale(0.95);
      }
    }
    .template-card__category,
    .template-card__title{
      color: #4D24C3;
    }
  }

  &__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.64) 87.2%);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  

  

  &__select-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__select-check {
    position: absolute;
    background: #FFF;
    width: 2px;

    &--left {
      height: 13px;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      left: 0;
      bottom: 0;
    }

    &--right {
      height: 21px;
      transform: rotate(45deg);
      transform-origin: bottom left;
      left: 8px;
      bottom: 0;
    }
  }

  &__info {
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 1;
  }

  &__category {
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #FFF;

  }

  &__title {
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: #FFF;
    margin: 0;

  }
}
