@use 'variables' as *;

.toast-popup {
  display: inline-flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: $primaryColor4;
  box-shadow: 0 12px 20px 0 rgba(90, 75, 121, 0.20);

  &__message {
    color: #FFF;
    text-align: center;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
  }
}
