@use 'variables' as *;
.user-info-confirm{
  h4{
    font-size: 18px;
    font-weight: 700;
    color: $Title_Dark;
    margin-bottom: 24px;
  }
  &__label{
    font-size: 14px;
    font-weight: 600;
    color: $Title_Dark;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .input-text-wrapper__sub{
    .btn{
      color: $normalText;
    }
  }
}