$gnbHeight: 80px;
$Line_Normal: #3A3A3A;
$Title_Dark: #0A0A0A;
$cardPadding: 36px 24px;
$bgPrimaryLight: #F1EEFB;
$normalText: #747474;
$smallText: #919191;
$primaryColor: #7A53EC;
$primaryColor2: #4D24C3;
$primaryColor4: #A68FEB;
$pointColor1: #FF44BF;
$pointColor2: #007AFF;
$bgLightGray: #F9F9F9;
$cardBorderColor: #E4E4E4;
$NormalDarkGray: #E9E9E9;