@use 'partial/resets' as *;
@use 'partial/variables' as *;
@use 'partial/common' as *;
@use 'partial/icons' as *;
@use 'partial/gnb' as *;
@use 'partial/progress_bar' as *;
@use 'partial/heading' as *;
@use 'partial/main_container' as *;
@use 'partial/layer_popup' as *;
@use 'partial/button' as *;
@use 'partial/checkbox' as *;
@use 'partial/radio' as *;
@use 'partial/combobox' as *;
@use 'partial/input_text' as *;
@use 'partial/select' as *;
@use 'partial/view_tab' as *;
@use 'partial/card' as *;
@use 'partial/tooltip' as *;
// @use 'partial/swiper' as *;
@use 'partial/template_swiper' as *;
@use 'partial/form_list' as *;
@use 'partial/eva_detail' as *;
@use 'partial/eva_edit_form' as *;
@use 'partial/eva_target' as *;
@use 'partial/eva_target_detail' as *;
@use 'partial/eva_preview' as *;
@use 'partial/evaluation_card' as *;
@use 'partial/evaCreate' as *;
@use 'partial/agreeTemplate' as *;
@use 'partial/pagination' as *;
@use 'partial/divider' as *;
@use 'partial/file_upload' as *;
@use 'partial/service_usage_card' as *;
@use 'partial/toggle_switch' as *;
@use 'partial/evaluation_flow_card' as *;
@use 'partial/question_card' as *;
@use 'partial/file_list_popup' as *;
@use 'partial/mypage' as *;
@use 'partial/eva_file_swiper' as *;
@use 'partial/evaCommitteeRegist' as *;
@use 'partial/selectTypeList' as *;
@use 'partial/termEditor' as *;
