<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STICH - Contact</title>
  <link rel="stylesheet" href="../../assets/style/css/style.css">
</head>

<body>
  <header class="gnb">
    <div class="gnb-container">
      <a href="/" class="gnb-logo">
        <img src="../../assets/images/icon_gnb_logo.svg" alt="stich logo">
      </a>

      <nav class="gnb-menu">
        <a href="/" class="gnb-menu-item menu-home">
          <div class="gnb-menu-bg">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
          </div>
          <div class="gnb-menu-icon">
            <img src="../../assets/images/icon_gnb_home.png" alt="home" class="icon-gnb-home">
          </div>
        </a>

        <a href="/pages/COM/com_01_001.html" class="gnb-menu-item menu-competition">
          <div class="gnb-menu-bg">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
          </div>
          <div class="gnb-menu-icon">
            <img src="../../assets/images/icon_gnb_competition.png" alt="home" class="icon-gnb-competition">
          </div>
        </a>

        <a href="#" class="gnb-menu-item menu-notice">
          <div class="gnb-menu-bg">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
          </div>
          <div class="gnb-menu-icon">
            <img src="../../assets/images/icon_gnb_notice.png" alt="home" class="icon-gnb-notice">
            <div class="badge-new">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="20" height="20" rx="10" fill="#FF44BF" />
                <path
                  d="M13.4863 5.51562V14H12.127L8.10742 8.19922H8.03711V14H6.51367V5.51562H7.89648L11.8926 11.3164H11.9746V5.51562H13.4863Z"
                  fill="white" />
              </svg>
            </div>
          </div>
        </a>

        <a href="#" class="gnb-menu-item menu-career">
          <div class="gnb-menu-bg">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
            <img src="../../assets/images/icon_union.svg" alt="반짝">
          </div>
          <div class="gnb-menu-icon">
            <img src="../../assets/images/icon_gnb_career.png" alt="home" class="icon-gnb-career">
          </div>
        </a>
      </nav>

      <div class="gnb-user">
        <div class="gnb-profile">
          <div class="gnb-profile-icon">
            <img src="../../assets/images/icon_my_profile.png" alt="사용자 아이콘">
          </div>
          <p class="gnb-profile-text">
            <span class="gnb-profile-greeting">안녕하세요. </span>
            <span class="gnb-profile-name">홍길동님</span>
          </p>
          <a href="/" class="gnb-settings" aria-label="설정">
            <img src="../../assets/images/icon_my_setting.svg" alt="사용자 설정">
          </a>
        </div>

        <div class="gnb-divider"></div>

        <button class="gnb-logout">
          <img src="../../assets/images/icon_gnb_logout.svg" class="icon-gnb-logout" alt="로그아웃 아이콘">
          <span>로그아웃</span>
        </button>
      </div>
    </div>
  </header>

  <main class="main-content">
    <div class="content-wrapper">
      <div class="contact-container">
        <div class="evaluation-card">
          <label class="ckb">
            <input type="checkbox" />
            <span class="ckb__box"></span>
            <span class="ckb__label">No. 00-000</span>
          </label>

          <div class="evaluation-card__content">
            <div class="evaluation-card__section">
              <h2 class="evaluation-card__title">평가대상 명</h2>

              <div class="evaluation-card__details">
                <h3 class="evaluation-card__field-label">평가분야</h3>
                <p class="evaluation-card__field-text">한국보건산업진흥원 바이오헬스혁신기획팀 정유성 연구원</p>

                <div class="evaluation-card__file-size">
                  <span class="file-size__label">파일용량</span>
                  <div class="file-size__info">
                    <span class="file-size__current">3M</span>
                    <div class="file-size__progress">
                      <div class="file-size__progress-bar"></div>
                    </div>
                    <span class="file-size__max">5MB</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="evaluation-card__files">
              <div class="files__header">
                <h3 class="files__title">평가 파일 (N개)</h3>
                <img src="../../assets/images/icon_download.svg" alt="다운로드" class="files__download-icon">
              </div>

              <div class="file-item">
                <div class="file-item__content">
                  <div class="file-item__info">
                    <div class="file-item__icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path
                          d="M9.125 5.7002H11.7568L9.125 3.17285V5.7002ZM13.5 12.7998C13.5 13.2572 13.3105 13.6917 12.9805 14.0088C12.6509 14.3252 12.2077 14.5 11.75 14.5H4.25C3.79231 14.5 3.34914 14.3252 3.01953 14.0088C2.68946 13.6917 2.5 13.2572 2.5 12.7998V3.2002C2.5 2.74277 2.68946 2.30827 3.01953 1.99121C3.34914 1.67479 3.79231 1.5 4.25 1.5H8.625C8.75408 1.5 8.87857 1.55026 8.97168 1.63965L13.3467 5.83887C13.4449 5.93315 13.5 6.06405 13.5 6.2002V12.7998ZM3.5 12.7998C3.5 12.9787 3.57345 13.1551 3.71191 13.2881C3.85115 13.4217 4.04465 13.5 4.25 13.5H11.75C11.9553 13.5 12.1489 13.4217 12.2881 13.2881C12.4265 13.1551 12.5 12.9787 12.5 12.7998V6.7002H8.625C8.34892 6.7002 8.12511 6.47625 8.125 6.2002V2.5H4.25C4.04465 2.5 3.85115 2.57825 3.71191 2.71191C3.57345 2.8449 3.5 3.02133 3.5 3.2002V12.7998Z"
                          fill="currentColor" />
                      </svg>
                    </div>
                    <span class="file-item__name">사진_김길동.png</span>
                  </div>
                  <button class="file-item__delete" aria-label="파일 삭제">
                    <img src="../../assets/images/icon_eva_delete.svg" alt="삭제">
                  </button>
                </div>
              </div>

              <div class="file-item">
                <div class="file-item__content">
                  <div class="file-item__info">
                    <div class="file-item__icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path
                          d="M9.125 5.7002H11.7568L9.125 3.17285V5.7002ZM13.5 12.7998C13.5 13.2572 13.3105 13.6917 12.9805 14.0088C12.6509 14.3252 12.2077 14.5 11.75 14.5H4.25C3.79231 14.5 3.34914 14.3252 3.01953 14.0088C2.68946 13.6917 2.5 13.2572 2.5 12.7998V3.2002C2.5 2.74277 2.68946 2.30827 3.01953 1.99121C3.34914 1.67479 3.79231 1.5 4.25 1.5H8.625C8.75408 1.5 8.87857 1.55026 8.97168 1.63965L13.3467 5.83887C13.4449 5.93315 13.5 6.06405 13.5 6.2002V12.7998ZM3.5 12.7998C3.5 12.9787 3.57345 13.1551 3.71191 13.2881C3.85115 13.4217 4.04465 13.5 4.25 13.5H11.75C11.9553 13.5 12.1489 13.4217 12.2881 13.2881C12.4265 13.1551 12.5 12.9787 12.5 12.7998V6.7002H8.625C8.34892 6.7002 8.12511 6.47625 8.125 6.2002V2.5H4.25C4.04465 2.5 3.85115 2.57825 3.71191 2.71191C3.57345 2.8449 3.5 3.02133 3.5 3.2002V12.7998Z"
                          fill="currentColor" />
                      </svg>
                    </div>
                    <span class="file-item__name">사진_김길동김길동김길동김길동김길동김길동.png</span>
                  </div>
                  <button class="file-item__delete" aria-label="파일 삭제">
                    <img src="../../assets/images/icon_eva_delete.svg" alt="삭제">
                  </button>
                </div>
              </div>

              <div class="files__actions">
                <button class="files__action-btn">
                  <img src="../../assets/images/icon_upload.svg" alt="업로드">
                  <span>파일 올리기</span>
                </button>
                <button class="files__action-btn">
                  <span>파일 전체보기</span>
                  <img src="../../assets/images/icon_chevron_right-16.svg" alt="보기">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="../../assets/js/script.js"></script>
</body>

</html>