<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File List Popup - STICH</title>
  <link rel="stylesheet" href="../../assets/style/css/style.css">
</head>

<body>
  <div style="padding: 40px; max-width: 600px; margin: 0 auto;">
    <h1 style="margin-bottom: 24px; font-size: 24px; font-weight: 600;">File List Popup Component</h1>
    
    <div style="position: relative; height: 350px;">
      <div class="file-list-popup">
        <button class="file-list-popup__close-btn" aria-label="닫기">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="20" height="20" rx="10" fill="#A68FEB" stroke="#7A53EC"/>
            <rect x="6.96875" y="14.7422" width="1" height="11" transform="rotate(-135 6.96875 14.7422)" fill="white"/>
            <rect x="14.0312" y="14.7422" width="11" height="0.999999" transform="rotate(-135 14.0312 14.7422)" fill="white"/>
            </svg>
            
        </button>

        <div class="file-list-popup__content">
          <h2 class="file-list-popup__title">
            평가 파일 <span class="file-list-popup__count">(5개)</span>
          </h2>

          <div class="file-list-popup__items">
            <div class="file-list-popup__item">
              <div class="file-list-popup__item-info">
                <div class="file-list-popup__file-icon">
                  <img src="../../assets/images/icon_file_added.png" alt="파일">
                </div>
                <span class="file-list-popup__file-name">사진_김길동.png</span>
              </div>
              <button class="file-list-popup__delete-btn" aria-label="파일 삭제">
                <img src="../../assets/images/icon_file_delete.svg" alt="">
              </button>
            </div>

            <div class="file-list-popup__item">
              <div class="file-list-popup__item-info">
                <div class="file-list-popup__file-icon">
                  <img src="../../assets/images/icon_file_added.png" alt="파일">
                </div>
                <span class="file-list-popup__file-name">사진_김길동.png</span>
              </div>
              <button class="file-list-popup__delete-btn" aria-label="파일 삭제">
                <img src="../../assets/images/icon_file_delete.svg" alt="">
              </button>
            </div>

            <div class="file-list-popup__item">
              <div class="file-list-popup__item-info">
                <div class="file-list-popup__file-icon">
                  <img src="../../assets/images/icon_file_added.png" alt="파일">
                </div>
                <span class="file-list-popup__file-name">사진_김길동.png</span>
              </div>
              <button class="file-list-popup__delete-btn" aria-label="파일 삭제">
                <img src="../../assets/images/icon_file_delete.svg" alt="">
              </button>
            </div>

            <div class="file-list-popup__item">
              <div class="file-list-popup__item-info">
                <div class="file-list-popup__file-icon">
                  <img src="../../assets/images/icon_file_added.png" alt="파일">
                </div>
                <span class="file-list-popup__file-name">사진_김길동.png</span>
              </div>
              <button class="file-list-popup__delete-btn" aria-label="파일 삭제">
                <img src="../../assets/images/icon_file_delete.svg" alt="">
              </button>
            </div>

            <div class="file-list-popup__item">
              <div class="file-list-popup__item-info">
                <div class="file-list-popup__file-icon">
                  <img src="../../assets/images/icon_file_added.png" alt="파일">
                </div>
                <span class="file-list-popup__file-name">사진_김길동.png</span>
              </div>
              <button class="file-list-popup__delete-btn" aria-label="파일 삭제">
                <img src="../../assets/images/icon_file_delete.svg" alt="">
              </button>
            </div>
          </div>

          <div class="file-list-popup__actions">
            <button class="file-list-popup__action-btn">
              <img src="../../assets/images/icon_download_16.svg" alt="">
              <span class="file-list-popup__action-text">전체 다운로드</span>
            </button>
            <button class="file-list-popup__action-btn">
              <img src="../../assets/images/icon_file_delete.svg" alt="">
              <span class="file-list-popup__action-text">전체 삭제</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../assets/js/script.js"></script>
</body>

</html>
