<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File List Popup - STICH</title>
  <link rel="stylesheet" href="../../assets/style/css/style.css">
</head>

<body>
  <div style="padding: 40px; max-width: 600px; margin: 0 auto;">
    <h1 style="margin-bottom: 24px; font-size: 24px; font-weight: 600;">Setting popup Component</h1>
    
    <div style="position: relative;">
      <div class="setting-list-popup">
        <button class="setting-list-popup__close-btn" aria-label="닫기">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="20" height="20" rx="10" fill="#A68FEB" stroke="#7A53EC"/>
            <rect x="6.96875" y="14.7422" width="1" height="11" transform="rotate(-135 6.96875 14.7422)" fill="white"/>
            <rect x="14.0312" y="14.7422" width="11" height="0.999999" transform="rotate(-135 14.0312 14.7422)" fill="white"/>
            </svg>
            
        </button>

        <div class="setting-list-popup__content">
          <ul class="setting-list-popup__items">
            <li><a href="" class="setting-list-popup__item"><span class="label">설정</span> <img src="../../assets/images/icon_edit_16.svg" alt=""></a></li>
            <li><a href="" class="setting-list-popup__item"><span class="label">삭제</span> <img src="../../assets/images/icon_draw.svg" alt=""></a></li>
            <li><a href="" class="setting-list-popup__item"><span class="label">평가 리셋</span> <img src="../../assets/images/icon_reset.svg" alt=""></a></li>
            <li><a href="" class="setting-list-popup__item"><span class="label">평가 제외</span> <img src="../../assets/images/icon_file_delete.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="../../assets/js/script.js"></script>
</body>

</html>
