<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STICH - Template Swiper</title>
  <link rel="stylesheet" href="../../assets/style/css/style.css">
</head>

<body>

  <div class="content-wrapper">
    <div class="template-swiper-container">
      <div class="swiper template-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="template-card template-card--selected">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/35fef981be6fe933998d1b31b24af7beca07d5c6?width=748" alt="기획/아이디어" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--light"></div>
              <div class="template-card__select-btn" aria-label="템플릿 선택">
                <img src="../../assets/images/icon_check_29.svg" alt="" class="template-card__select-icon">
              </div>
              <div class="template-card__info">
                <span class="template-card__category template-card__category--primary">공모전</span>
                <h3 class="template-card__title template-card__title--primary">기획/아이디어</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/3a93600b47a579c41feed50f9d8be4938641f2f2?width=532" alt="건설/건축" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">건설/건축</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/ea7b8ffbd79cf4b8875a0fd73687569bb62fce9f?width=600" alt="네이밍/슬로건" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">네이밍/슬로건</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/0d819a62b7534945791d2a0c6fd316004f1bab30?width=604" alt="논문/리포트" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">논문/리포트</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/b2f402a88643b0814246ee04c519381bf46a078f?width=320" alt="조직 기여도" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인사평가</span>
                <h3 class="template-card__title">조직 기여도</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/ceca4dd620d8bb81f99e0bbf79a9cdc3a58d5553?width=320" alt="조직 기여도" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인사평가</span>
                <h3 class="template-card__title">조직 기여도</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/ceca4dd620d8bb81f99e0bbf79a9cdc3a58d5553?width=320" alt="조직 기여도" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인사평가</span>
                <h3 class="template-card__title">조직 기여도</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/ceca4dd620d8bb81f99e0bbf79a9cdc3a58d5553?width=320" alt="조직 기여도" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인사평가</span>
                <h3 class="template-card__title">조직 기여도</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="template-swiper-container">
      <div class="swiper eva-file-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="template-card template-card--selected">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/35fef981be6fe933998d1b31b24af7beca07d5c6?width=748" alt="기획/아이디어" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--light"></div>
              <div class="template-card__select-btn" aria-label="템플릿 선택">
                <img src="../../assets/images/icon_check_29.svg" alt="" class="template-card__select-icon">
              </div>
              <div class="template-card__info">
                <span class="template-card__category template-card__category--primary">공모전</span>
                <h3 class="template-card__title template-card__title--primary">기획/아이디어</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="https://api.builder.io/api/v1/image/assets/TEMP/3a93600b47a579c41feed50f9d8be4938641f2f2?width=532" alt="건설/건축" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">건설/건축</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../assets/dist/js/bundle.js"></script>
</body>

</html>
