<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STICH - Template Swiper</title>
  <link rel="stylesheet" href="../../assets/style/css/style.css">
  <link rel="stylesheet" href="../../assets/dist/js/bundle.css">
</head>

<body>
  <div class="content-wrapper">
    <div class="template-swiper-container">
      <div class="swiper template-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_01.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--light"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">건설/건축</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_02.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">게임/소프트웨어</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_03.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">과학/공학</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_04.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">광고/템플릿</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_05.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">기획/아이디어</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_06.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">네이밍/슬로건</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_07.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">논문/리포트</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_08.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">디자인</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_09.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">만화</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_10.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">문학/수기</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_11.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">사진</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_12.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">예체능(댄스)</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_13.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">캐릭터</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_14.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">공모전</span>
                <h3 class="template-card__title">UCC/영상</h3>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_15.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인력채용</span>
                <h3 class="template-card__title">경력</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_16.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인력채용</span>
                <h3 class="template-card__title">신입</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_17.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인력채용</span>
                <h3 class="template-card__title">인턴</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_18.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인력채용</span>
                <h3 class="template-card__title">파트타임</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_19.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인사평가</span>
                <h3 class="template-card__title">리더십</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_20.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인사평가</span>
                <h3 class="template-card__title">역량</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_21.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인사평가</span>
                <h3 class="template-card__title">조직 기여도</h3>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_22.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인사평가</span>
                <h3 class="template-card__title">종합</h3>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="template-card">
              <div class="template-card__image-wrapper">
                <img src="../../assets/images/img_template_23.png" alt="" class="template-card__image">
              </div>
              <div class="template-card__overlay template-card__overlay--dark"></div>
              <div class="template-card__info">
                <span class="template-card__category">인사평가</span>
                <h3 class="template-card__title">태도/행동</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../assets/dist/js/bundle.js"></script>
</body>

</html>
