<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STICH - Toast</title>
  <link rel="stylesheet" href="../../assets/style/css/style.css">
</head>

<body>
  <div class="inner">
    <h1 class="title">Toast</h1>
    <button type="button" class="btn border h40" id="toastButton">토스트 호출</button>
  </div>

  <script src="../../assets/dist/js/bundle.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      window.showToast('설정 적용을 취소 했습니다.');

      const trigger = document.getElementById('toastButton');
      trigger?.addEventListener('click', () => {
        window.showToast('토스트 테스트 5초', { duration: 5000 });
      });
    });
  </script>
</body>

</html>
